HTTP/1.1 200 OK
Date: Sun, 04 Dec 2011 06:02:46 GMT
Server: Apache/2.2.4 (Unix) mod_ssl/2.2.4 OpenSSL/0.9.7m DAV/2 mod_jk/1.2.30
Access-Control-Allow-Origin: *
Vary: Accept-Encoding
Content-Encoding: gzip
Content-Length: 3128
Connection: close
Content-Type: text/xml

<?xml version="1.0" encoding="utf-8" ?> 
<body copyright="All data copyright Toronto Transit Commission 2011.">
<route tag="312" title="312-St Clair" color="ff0000" oppositeColor="ffffff" latMin="43.6498499" latMax="43.6882199" lonMin="-79.49104" lonMax="-79.39345">
<stop tag="14781" title="Jane Station" lat="43.6498499" lon="-79.48439" stopId="15009"/>
<stop tag="5905" title="Jane Street At Bloor Street West Farside" lat="43.65002" lon="-79.48464" stopId="1169"/>
<stop tag="6884" title="Jane Street At Weatherell Street" lat="43.6514" lon="-79.48524" stopId="1175"/>
<stop tag="9969" title="Jane Street At Colbeck Street Farside" lat="43.65335" lon="-79.48604" stopId="1170"/>
<stop tag="7797" title="Jane Street At Ardagh Street" lat="43.6556499" lon="-79.4869599" stopId="1168"/>
<stop tag="660" title="Jane Street At Annette Street" lat="43.6581599" lon="-79.4880099" stopId="3863"/>
<stop tag="6228" title="Jane Street At Hanley Street" lat="43.65987" lon="-79.48872" stopId="9144"/>
<stop tag="6522" title="Jane Street At St Johns Road" lat="43.6619" lon="-79.48955" stopId="3928"/>
<stop tag="2153" title="Jane Street At Page Avenue" lat="43.66399" lon="-79.49039" stopId="3913"/>
<stop tag="731" title="Jane Street At Dundas Street West" lat="43.66543" lon="-79.49097" stopId="3882"/>
<stop tag="14649" title="St Clair Avenue West At Mariposa Avenue Farside" lat="43.6676299" lon="-79.48936" stopId="14895"/>
<stop tag="3397" title="St Clair Avenue West At Mould Avenue" lat="43.66812" lon="-79.4872199" stopId="13320"/>
<stop tag="820" title="St Clair Avenue West At Runnymede Road" lat="43.66887" lon="-79.4838099" stopId="13343"/>
<stop tag="8332" title="St Clair Avenue West At Britannia Avenue" lat="43.6694699" lon="-79.48109" stopId="7359"/>
<stop tag="925" title="St Clair Avenue West At Cobalt Avenue" lat="43.67013" lon="-79.4781499" stopId="7361"/>
<stop tag="9312" title="St Clair Avenue West At Mondovi Avenue Farside" lat="43.6709" lon="-79.4746999" stopId="13710"/>
<stop tag="819" title="St Clair Avenue West At Old Stock Yards Road" lat="43.67164" lon="-79.47134" stopId="13341"/>
<stop tag="686" title="St Clair Avenue West At Keele Street" lat="43.6724199" lon="-79.46781" stopId="7898"/>
<stop tag="697" title="St Clair Avenue West At Old Weston Road" lat="43.67344" lon="-79.4631499" stopId="8179"/>
<stop tag="2398" title="St Clair Avenue West At Hounslow Heath Road" lat="43.67411" lon="-79.4600999" stopId="8168"/>
<stop tag="8771" title="St Clair Avenue West At Laughton Avenue" lat="43.67461" lon="-79.4577199" stopId="8173"/>
<stop tag="4455" title="St Clair Avenue West At Caledonia Road" lat="43.67521" lon="-79.4548899" stopId="8155"/>
<stop tag="4987" title="St Clair Avenue West At Lansdowne Avenue" lat="43.6761499" lon="-79.45077" stopId="8170"/>
<stop tag="3441" title="St Clair Ave West At Earlscourt Avenue" lat="43.6769199" lon="-79.44756" stopId="9979"/>
<stop tag="2879" title="St Clair Avenue West At Dufferin Street Farside" lat="43.6778" lon="-79.4432299" stopId="8161"/>
<stop tag="1838" title="St Clair Avenue West At Northcliffe Boulevard" lat="43.6782999" lon="-79.44098" stopId="8175"/>
<stop tag="2074" title="St Clair Avenue West At Glenholme Avenue" lat="43.6787499" lon="-79.43888" stopId="8165"/>
<stop tag="757" title="St Clair Avenue West At Oakwood Avenue" lat="43.67942" lon="-79.4359899" stopId="8177"/>
<stop tag="14650" title="St Clair Avenue West At Winona Drive Farside" lat="43.6803499" lon="-79.43196" stopId="14897"/>
<stop tag="6983" title="St Clair Avenue West At Arlington Avenue" lat="43.68099" lon="-79.4289999" stopId="8147"/>
<stop tag="4502" title="St Clair Avenue West At Christie Street" lat="43.68155" lon="-79.4258799" stopId="8157"/>
<stop tag="5069" title="St Clair Avenue West At Wychwood Avenue" lat="43.6820099" lon="-79.42366" stopId="8190"/>
<stop tag="5796" title="St Clair Avenue West At Vaughan Road" lat="43.6825899" lon="-79.42041" stopId="8185"/>
<stop tag="1535" title="St Clair Avenue West At Bathurst Street" lat="43.6830099" lon="-79.41842" stopId="8152"/>
<stop tag="14125" title="St Clair Avenue West At Tweedsmuir Avenue" lat="43.6839799" lon="-79.41343" stopId="14605"/>
<stop tag="5780" title="St Clair Avenue West At Spadina Road" lat="43.6844999" lon="-79.41124" stopId="4630"/>
<stop tag="10460" title="St Clair Avenue West At Russell Hill Road" lat="43.6852099" lon="-79.40794" stopId="14353"/>
<stop tag="7212" title="St Clair Avenue West At Warren Road Farside" lat="43.6856499" lon="-79.40578" stopId="8187"/>
<stop tag="10470" title="St Clair Avenue West At Avenue Road Farside" lat="43.6866799" lon="-79.40102" stopId="14349"/>
<stop tag="10459" title="St Clair Avenue West At Deer Park Crescent" lat="43.6871499" lon="-79.39824" stopId="14347"/>
<stop tag="8878" title="St Clair Avenue East At Yonge Street Farside" lat="43.6881599" lon="-79.39345" stopId="14346"/>
<stop tag="7440" title="St Clair Avenue East At Yonge Street" lat="43.6882199" lon="-79.39392" stopId="8146"/>
<stop tag="10472" title="St Clair Avenue West At Deer Park Crescent" lat="43.6874199" lon="-79.39794" stopId="14348"/>
<stop tag="10462" title="St Clair Avenue West At Avenue Road Farside" lat="43.6866" lon="-79.4019699" stopId="14350"/>
<stop tag="10463" title="St Clair Avenue West At Dunvegan Road Farside" lat="43.6860099" lon="-79.40524" stopId="14352"/>
<stop tag="10478" title="St Clair Avenue West At Russell Hill Road" lat="43.6855099" lon="-79.40772" stopId="14354"/>
<stop tag="4549" title="St Clair Avenue West At Spadina Road" lat="43.68478" lon="-79.4110299" stopId="8184"/>
<stop tag="14126" title="St Clair Avenue West At Tweedsmuir Avenue" lat="43.68425" lon="-79.4132599" stopId="14606"/>
<stop tag="814" title="St Clair Avenue West At Bathurst Street" lat="43.6832699" lon="-79.41796" stopId="8153"/>
<stop tag="10453" title="St Clair Avenue West At Vaughan Road Farside" lat="43.6827499" lon="-79.4207" stopId="14356"/>
<stop tag="3247" title="St Clair Avenue West At Wychwood Avenue" lat="43.6823599" lon="-79.42305" stopId="8191"/>
<stop tag="9063" title="St Clair Avenue West At Christie Street" lat="43.68184" lon="-79.4255399" stopId="8158"/>
<stop tag="8680" title="St Clair Avenue West At Arlington Avenue" lat="43.6811699" lon="-79.42875" stopId="8148"/>
<stop tag="9621" title="St Clair Avenue West At Winona Drive" lat="43.6804099" lon="-79.43239" stopId="8189"/>
<stop tag="5868" title="St Clair Avenue West At Oakwood Avenue" lat="43.6797299" lon="-79.43544" stopId="8178"/>
<stop tag="4935" title="St Clair Avenue West At Glenholme Avenue" lat="43.6790399" lon="-79.43849" stopId="8166"/>
<stop tag="2123" title="St Clair Avenue West At Northcliffe Boulevard" lat="43.67854" lon="-79.4407299" stopId="8176"/>
<stop tag="9996" title="St Clair Avenue West At Dufferin Street" lat="43.6780999" lon="-79.44289" stopId="8162"/>
<stop tag="6136" title="St Clair Avenue West At Earlscourt Avenue" lat="43.6771199" lon="-79.4473" stopId="9980"/>
<stop tag="6135" title="St Clair Avenue West At Lansdowne Avenue" lat="43.6764899" lon="-79.45014" stopId="8171"/>
<stop tag="816" title="St Clair Avenue West At Caledonia Road" lat="43.6755399" lon="-79.45436" stopId="11715"/>
<stop tag="6316" title="St Clair Avenue West At Laughton Avenue" lat="43.6748399" lon="-79.45753" stopId="8172"/>
<stop tag="10238" title="St Clair Avenue West At Silverthorn Avenue" lat="43.6743099" lon="-79.45986" stopId="8183"/>
<stop tag="8236" title="St Clair Avenue West At Old Weston Road" lat="43.67367" lon="-79.4627599" stopId="8180"/>
<stop tag="10327" title="St Clair Avenue West At Keele Street Farside" lat="43.6725299" lon="-79.46801" stopId="8169"/>
<stop tag="817" title="St Clair Avenue West At Gunns Road" lat="43.67188" lon="-79.4708099" stopId="13340"/>
<stop tag="1826" title="St Clair Avenue West At Mondovi Avenue Farside" lat="43.6708299" lon="-79.47553" stopId="13711"/>
<stop tag="5578" title="St Clair Avenue West At Symes Road" lat="43.6704499" lon="-79.47728" stopId="7364"/>
<stop tag="3479" title="St Clair Avenue West At Britannia Avenue" lat="43.66968" lon="-79.4806799" stopId="7360"/>
<stop tag="7535" title="St Clair Avenue West At Runnymede Road Farside" lat="43.6688699" lon="-79.48433" stopId="13305"/>
<stop tag="8621" title="St Clair Avenue West At Mould Avenue" lat="43.6682999" lon="-79.48686" stopId="13306"/>
<stop tag="942" title="St Clair Avenue West At Mariposa Avenue" lat="43.66766" lon="-79.4896199" stopId="13307"/>
<stop tag="5556" title="Jane Street At Dundas Street West Farside" lat="43.6651799" lon="-79.49104" stopId="3881"/>
<stop tag="4369" title="Jane Street At Bradley Avenue" lat="43.66339" lon="-79.49029" stopId="3869"/>
<stop tag="9751" title="Jane Street At St Johns Road" lat="43.6620699" lon="-79.4897499" stopId="3929"/>
<stop tag="9642" title="Jane Street At St Marks Road" lat="43.66052" lon="-79.4891" stopId="3925"/>
<stop tag="6557" title="Jane Street At Baby Point Road Farside" lat="43.65797" lon="-79.48808" stopId="13623"/>
<stop tag="14044" title="Jane Street At Ardagh Street" lat="43.6558599" lon="-79.4872399" stopId="14547"/>
<stop tag="8578" title="Jane Street At Colbeck Street" lat="43.6533399" lon="-79.4861999" stopId="1171"/>
<stop tag="1184" title="Jane Street At Weatherell Street Farside" lat="43.65138" lon="-79.48539" stopId="1174"/>
<stop tag="14781_ar" title="Jane Station" lat="43.6498499" lon="-79.48439"/>
<direction tag="312_1_312" title="West - 312 St Clair Blue Night towards Jane Station" name="West" useForUI="true">
  <stop tag="7440" />
  <stop tag="10472" />
  <stop tag="10462" />
  <stop tag="10463" />
  <stop tag="10478" />
  <stop tag="4549" />
  <stop tag="14126" />
  <stop tag="814" />
  <stop tag="10453" />
  <stop tag="3247" />
  <stop tag="9063" />
  <stop tag="8680" />
  <stop tag="9621" />
  <stop tag="5868" />
  <stop tag="4935" />
  <stop tag="2123" />
  <stop tag="9996" />
  <stop tag="6136" />
  <stop tag="6135" />
  <stop tag="816" />
  <stop tag="6316" />
  <stop tag="10238" />
  <stop tag="8236" />
  <stop tag="10327" />
  <stop tag="817" />
  <stop tag="1826" />
  <stop tag="5578" />
  <stop tag="3479" />
  <stop tag="7535" />
  <stop tag="8621" />
  <stop tag="942" />
  <stop tag="5556" />
  <stop tag="4369" />
  <stop tag="9751" />
  <stop tag="9642" />
  <stop tag="6557" />
  <stop tag="14044" />
  <stop tag="8578" />
  <stop tag="1184" />
  <stop tag="14781_ar" />
</direction>
<direction tag="312_0_312" title="East - 312 St Clair Blue Night towards St Clair Station" name="East" useForUI="true">
  <stop tag="14781" />
  <stop tag="5905" />
  <stop tag="6884" />
  <stop tag="9969" />
  <stop tag="7797" />
  <stop tag="660" />
  <stop tag="6228" />
  <stop tag="6522" />
  <stop tag="2153" />
  <stop tag="731" />
  <stop tag="14649" />
  <stop tag="3397" />
  <stop tag="820" />
  <stop tag="8332" />
  <stop tag="925" />
  <stop tag="9312" />
  <stop tag="819" />
  <stop tag="686" />
  <stop tag="697" />
  <stop tag="2398" />
  <stop tag="8771" />
  <stop tag="4455" />
  <stop tag="4987" />
  <stop tag="3441" />
  <stop tag="2879" />
  <stop tag="1838" />
  <stop tag="2074" />
  <stop tag="757" />
  <stop tag="14650" />
  <stop tag="6983" />
  <stop tag="4502" />
  <stop tag="5069" />
  <stop tag="5796" />
  <stop tag="1535" />
  <stop tag="14125" />
  <stop tag="5780" />
  <stop tag="10460" />
  <stop tag="7212" />
  <stop tag="10470" />
  <stop tag="10459" />
  <stop tag="8878" />
</direction>
<path>
<point lat="43.68301" lon="-79.41842"/>
<point lat="43.68398" lon="-79.41343"/>
</path>
<path>
<point lat="43.68035" lon="-79.43196"/>
<point lat="43.68099" lon="-79.429"/>
<point lat="43.68155" lon="-79.42588"/>
<point lat="43.68201" lon="-79.42366"/>
<point lat="43.68259" lon="-79.42041"/>
<point lat="43.68301" lon="-79.41842"/>
</path>
<path>
<point lat="43.66763" lon="-79.48936"/>
<point lat="43.66812" lon="-79.4872199"/>
<point lat="43.66887" lon="-79.48381"/>
<point lat="43.6694699" lon="-79.48109"/>
</path>
<path>
<point lat="43.67242" lon="-79.46781"/>
<point lat="43.67344" lon="-79.46315"/>
<point lat="43.67411" lon="-79.4601"/>
<point lat="43.67461" lon="-79.45772"/>
<point lat="43.67521" lon="-79.45489"/>
<point lat="43.67615" lon="-79.45077"/>
<point lat="43.6763" lon="-79.45059"/>
<point lat="43.67692" lon="-79.44756"/>
</path>
<path>
<point lat="43.64985" lon="-79.48439"/>
<point lat="43.65018" lon="-79.48317"/>
<point lat="43.6496799" lon="-79.48296"/>
<point lat="43.64932" lon="-79.48447"/>
<point lat="43.64982" lon="-79.48467"/>
<point lat="43.65002" lon="-79.48464"/>
<point lat="43.6514" lon="-79.48524"/>
<point lat="43.65335" lon="-79.48604"/>
<point lat="43.65565" lon="-79.48696"/>
<point lat="43.65816" lon="-79.48801"/>
<point lat="43.65979" lon="-79.48877"/>
<point lat="43.65987" lon="-79.48872"/>
<point lat="43.66001" lon="-79.48884"/>
<point lat="43.6619" lon="-79.48955"/>
<point lat="43.66399" lon="-79.49039"/>
<point lat="43.66543" lon="-79.49097"/>
<point lat="43.66672" lon="-79.49159"/>
<point lat="43.66718" lon="-79.49176"/>
<point lat="43.66731" lon="-79.49097"/>
<point lat="43.66763" lon="-79.48936"/>
</path>
<path>
<point lat="43.67692" lon="-79.44756"/>
<point lat="43.6778" lon="-79.44323"/>
<point lat="43.6783" lon="-79.44098"/>
</path>
<path>
<point lat="43.67554" lon="-79.45436"/>
<point lat="43.67484" lon="-79.45753"/>
<point lat="43.67431" lon="-79.45986"/>
<point lat="43.67367" lon="-79.46276"/>
<point lat="43.67253" lon="-79.46801"/>
</path>
<path>
<point lat="43.66518" lon="-79.49104"/>
<point lat="43.66339" lon="-79.49029"/>
<point lat="43.66207" lon="-79.48975"/>
<point lat="43.66052" lon="-79.4890999"/>
<point lat="43.66001" lon="-79.48884"/>
<point lat="43.65979" lon="-79.48877"/>
<point lat="43.65797" lon="-79.48808"/>
<point lat="43.6558599" lon="-79.48724"/>
<point lat="43.65334" lon="-79.4862"/>
<point lat="43.65138" lon="-79.48539"/>
<point lat="43.64982" lon="-79.48467"/>
<point lat="43.64989" lon="-79.48444"/>
<point lat="43.64985" lon="-79.48439"/>
</path>
<path>
<point lat="43.68822" lon="-79.39392"/>
<point lat="43.68742" lon="-79.39794"/>
<point lat="43.6866" lon="-79.40197"/>
<point lat="43.68601" lon="-79.40524"/>
<point lat="43.68551" lon="-79.40772"/>
<point lat="43.68478" lon="-79.41103"/>
<point lat="43.68425" lon="-79.4132599"/>
<point lat="43.68327" lon="-79.4179599"/>
<point lat="43.68275" lon="-79.4207"/>
</path>
<path>
<point lat="43.67904" lon="-79.43849"/>
<point lat="43.67854" lon="-79.44073"/>
<point lat="43.6781" lon="-79.44289"/>
<point lat="43.67712" lon="-79.4473"/>
</path>
<path>
<point lat="43.67712" lon="-79.4473"/>
<point lat="43.67649" lon="-79.45014"/>
<point lat="43.6763" lon="-79.45059"/>
<point lat="43.67554" lon="-79.45436"/>
</path>
<path>
<point lat="43.68398" lon="-79.41343"/>
<point lat="43.6845" lon="-79.41124"/>
<point lat="43.68521" lon="-79.40794"/>
<point lat="43.68565" lon="-79.4057799"/>
<point lat="43.68668" lon="-79.40102"/>
<point lat="43.68715" lon="-79.39824"/>
<point lat="43.68818" lon="-79.39358"/>
<point lat="43.68816" lon="-79.39345"/>
</path>
<path>
<point lat="43.6783" lon="-79.44098"/>
<point lat="43.67875" lon="-79.43888"/>
<point lat="43.67942" lon="-79.43599"/>
<point lat="43.68035" lon="-79.43196"/>
</path>
<path>
<point lat="43.6694699" lon="-79.48109"/>
<point lat="43.67013" lon="-79.47815"/>
<point lat="43.6709" lon="-79.4747"/>
<point lat="43.67169" lon="-79.4715"/>
<point lat="43.6716399" lon="-79.47134"/>
<point lat="43.67177" lon="-79.47111"/>
<point lat="43.67242" lon="-79.46781"/>
</path>
<path>
<point lat="43.66887" lon="-79.48433"/>
<point lat="43.6683" lon="-79.4868599"/>
<point lat="43.66766" lon="-79.48962"/>
<point lat="43.66731" lon="-79.49097"/>
<point lat="43.66718" lon="-79.49176"/>
<point lat="43.66518" lon="-79.49104"/>
</path>
<path>
<point lat="43.67253" lon="-79.46801"/>
<point lat="43.67188" lon="-79.47081"/>
<point lat="43.67177" lon="-79.47111"/>
<point lat="43.67169" lon="-79.4715"/>
<point lat="43.67083" lon="-79.47553"/>
<point lat="43.67045" lon="-79.4772799"/>
<point lat="43.66968" lon="-79.48068"/>
<point lat="43.66887" lon="-79.48433"/>
</path>
<path>
<point lat="43.68275" lon="-79.4207"/>
<point lat="43.68236" lon="-79.42305"/>
<point lat="43.68184" lon="-79.42554"/>
<point lat="43.68162" lon="-79.42617"/>
<point lat="43.68117" lon="-79.4287499"/>
<point lat="43.68041" lon="-79.43239"/>
<point lat="43.67973" lon="-79.43544"/>
<point lat="43.67904" lon="-79.43849"/>
</path>
</route>
</body>
