*.swp
*.pyc
*.pyo
logs
.hgignore
.DS_Store
credentials.py*
credentials/

# compiled assets
static/css/standard.css
static/css/lander.css
static/js/proto-ext.js
static/js/listeners.js
static/js/base.js
