HTTP/1.1 200 OK
Date: Sun, 04 Dec 2011 06:02:53 GMT
Server: Apache/2.2.4 (Unix) mod_ssl/2.2.4 OpenSSL/0.9.7m DAV/2 mod_jk/1.2.30
Access-Control-Allow-Origin: *
Vary: Accept-Encoding
Content-Encoding: gzip
Content-Length: 5252
Connection: close
Content-Type: text/xml

<?xml version="1.0" encoding="utf-8" ?> 
<body copyright="All data copyright Toronto Transit Commission 2011.">
<route tag="324" title="324-Victoria Park" color="ff0000" oppositeColor="ffffff" latMin="43.6814999" latMax="43.8209799" lonMin="-79.32506" lonMax="-79.2845299">
<stop tag="6229" title="Warden Loop At Steeles Avenue East" lat="43.8209799" lon="-79.32506" stopId="13462"/>
<stop tag="3687" title="Warden Avenue At Steeles Avenue East" lat="43.8197499" lon="-79.3246599" stopId="10564"/>
<stop tag="876" title="Warden Avenue At Steeles Avenue East Farside" lat="43.81909" lon="-79.3244599" stopId="10565"/>
<stop tag="4837" title="Warden Avenue At Bamburgh Circle North" lat="43.8162999" lon="-79.32463" stopId="10566"/>
<stop tag="1841" title="125 Bamburgh Circle" lat="43.81362" lon="-79.32437" stopId="9634"/>
<stop tag="9718" title="Warden Avenue At Bamburgh Circle South" lat="43.81177" lon="-79.3236" stopId="8532"/>
<stop tag="2587" title="Warden Avenue At Walkway (North McNicoll Avenue)" lat="43.8091599" lon="-79.3223699" stopId="8594"/>
<stop tag="4847" title="Warden Avenue At McNicoll Avenue" lat="43.80652" lon="-79.32115" stopId="8590"/>
<stop tag="8966" title="Warden Avenue At Glen Springs Drive" lat="43.8047099" lon="-79.3203499" stopId="8570"/>
<stop tag="10381" title="Warden Avenue At Bridletown Circle North Farside" lat="43.80119" lon="-79.3187" stopId="8540"/>
<stop tag="2310" title="2960 Warden Avenue (Bridlewood Mall)" lat="43.79926" lon="-79.31717" stopId="14276"/>
<stop tag="2849" title="Warden Avenue At Finch Avenue East" lat="43.7968899" lon="-79.3159799" stopId="8566"/>
<stop tag="7971" title="Warden Avenue At Apartments (South Of Finch)" lat="43.7946699" lon="-79.31503" stopId="8528"/>
<stop tag="5001" title="Warden Avenue At Bridletown Circle South" lat="43.79232" lon="-79.31406" stopId="8543"/>
<stop tag="3344" title="Opposite 2501 Warden Avenue" lat="43.7901299" lon="-79.3131099" stopId="8597"/>
<stop tag="7589" title="Warden Avenue At Huntingwood Drive" lat="43.78558" lon="-79.31113" stopId="8574"/>
<stop tag="8829" title="Warden Avenue At Warden Court Drive" lat="43.7826" lon="-79.30981" stopId="8618"/>
<stop tag="9600" title="Warden Avenue At Bowater Drive" lat="43.7810199" lon="-79.3091499" stopId="8539"/>
<stop tag="8323" title="Warden Avenue At Sheppard Avenue East" lat="43.77892" lon="-79.3081699" stopId="8599"/>
<stop tag="6529" title="Sheppard Avenue East At Palmdale Drive" lat="43.7780599" lon="-79.31132" stopId="7225"/>
<stop tag="2032" title="Sheppard Avenue East At Abbotsfield Gate" lat="43.7773699" lon="-79.31449" stopId="7162"/>
<stop tag="4870" title="Sheppard Avenue East At Pharmacy Avenue" lat="43.77667" lon="-79.3175499" stopId="7229"/>
<stop tag="4745" title="Sheppard Avenue East At Chichester Place" lat="43.77608" lon="-79.3200999" stopId="11026"/>
<stop tag="872" title="Victoria Park Avenue At Sheppard Avenue East Farside" lat="43.7746599" lon="-79.32288" stopId="7425"/>
<stop tag="9920" title="Victoria Park Avenue At Esquire Road" lat="43.77357" lon="-79.32239" stopId="7413"/>
<stop tag="3012" title="Victoria Park Avenue At Consumers Road" lat="43.77211" lon="-79.32174" stopId="7411"/>
<stop tag="2288" title="Victoria Park At Farm Greenway" lat="43.76454" lon="-79.31839" stopId="7414"/>
<stop tag="9946" title="Victoria Park Avenue At York Mills Road Farside" lat="43.7627199" lon="-79.3175199" stopId="8523"/>
<stop tag="4218" title="Victoria Park Avenue At Paget Road Farside" lat="43.7597399" lon="-79.3161799" stopId="7418"/>
<stop tag="10088" title="Victoria Park Avenue At Parkwoods Village Drive" lat="43.7580499" lon="-79.3154599" stopId="8490"/>
<stop tag="7892" title="Victoria Park Avenue At Combermere Drive Farside" lat="43.7557899" lon="-79.31464" stopId="8439"/>
<stop tag="8530" title="Victoria Park Avenue At Cassandra Boulevard" lat="43.75445" lon="-79.31414" stopId="10730"/>
<stop tag="8006" title="Victoria Park Avenue At Ivordale Crescent South Farside" lat="43.7528599" lon="-79.3136299" stopId="8472"/>
<stop tag="1986" title="Victoria Park Avenue At Rowena Drive" lat="43.7516" lon="-79.31315" stopId="14272"/>
<stop tag="8310" title="Victoria Park Avenue At Curlew Drive Farside" lat="43.7474599" lon="-79.3117699" stopId="8445"/>
<stop tag="1453" title="Victoria Park Avenue At Deanvar Avenue Farside" lat="43.7451599" lon="-79.3109599" stopId="8448"/>
<stop tag="1401" title="Victoria Park Avenue At Lawrence Avenue East" lat="43.74231" lon="-79.31001" stopId="8478"/>
<stop tag="749" title="Victoria Park Avenue At Sloane Avenue" lat="43.7388499" lon="-79.3086099" stopId="8500"/>
<stop tag="6829" title="Victoria Park Avenue At Sweeney Drive Farside" lat="43.73655" lon="-79.30766" stopId="8513"/>
<stop tag="2717" title="Victoria Park Avenue At Ruscica Drive" lat="43.7347499" lon="-79.3069199" stopId="8496"/>
<stop tag="1803" title="Victoria Park Avenue At Draycott Drive Farside" lat="43.73208" lon="-79.30583" stopId="8450"/>
<stop tag="1781" title="Victoria Park Avenue At Elvaston Drive Farside" lat="43.7295" lon="-79.30477" stopId="8457"/>
<stop tag="3970" title="Victoria Park Avenue At Jonesville Crescent Farside" lat="43.7261699" lon="-79.3033899" stopId="8441"/>
<stop tag="9280" title="Victoria Park Avenue At Eglinton Avenue East" lat="43.72488" lon="-79.30291" stopId="8453"/>
<stop tag="2096" title="Victoria Park Avenue At Oconnor Drive Farside" lat="43.7228299" lon="-79.30202" stopId="8427"/>
<stop tag="7775" title="Victoria Park Avenue At Southmead Road Farside" lat="43.7203999" lon="-79.3009599" stopId="8501"/>
<stop tag="6820" title="Victoria Park Avenue At Valdane Drive" lat="43.7187199" lon="-79.3002499" stopId="8520"/>
<stop tag="2517" title="Victoria Park Avenue At Parma Court Farside" lat="43.7164099" lon="-79.2992799" stopId="8491"/>
<stop tag="8750" title="Victoria Park Avenue At Amsterdam Avenue Farside" lat="43.7148699" lon="-79.2986199" stopId="8429"/>
<stop tag="4046" title="Victoria Park Avenue At Yardley Avenue" lat="43.71388" lon="-79.2982" stopId="8522"/>
<stop tag="7449" title="Victoria Park Avenue At Furnival Road" lat="43.71256" lon="-79.29764" stopId="8463"/>
<stop tag="9831" title="Victoria Park Avenue At Peard Road" lat="43.7107799" lon="-79.2968899" stopId="8493"/>
<stop tag="6315" title="Victoria Park Avenue At St Clair Avenue" lat="43.70897" lon="-79.29622" stopId="8504"/>
<stop tag="9165" title="Victoria Park Avenue At Dawes Road Farside" lat="43.7062099" lon="-79.29494" stopId="8447"/>
<stop tag="5235" title="Victoria Park Avenue At Ripon Road" lat="43.70388" lon="-79.2939" stopId="8495"/>
<stop tag="7331" title="Victoria Park Avenue At Brenton Street" lat="43.7022999" lon="-79.2932499" stopId="8436"/>
<stop tag="5208" title="Victoria Park Avenue At Medhurst Road" lat="43.70073" lon="-79.29257" stopId="8482"/>
<stop tag="1983" title="Victoria Park Avenue At Crescent Town Road" lat="43.6967199" lon="-79.2906599" stopId="8444"/>
<stop tag="14700" title="Victoria Park Avenue At Victoria Park Station" lat="43.6945899" lon="-79.2898099" stopId="14963"/>
<stop tag="14731" title="Victoria Park Avenue At Denton Avenue" lat="43.6931" lon="-79.28931" stopId="14962"/>
<stop tag="8504" title="Victoria Park Avenue At Danforth Avenue" lat="43.6913699" lon="-79.28851" stopId="4690"/>
<stop tag="2623" title="Victoria Park Avenue At Wakehood Street Farside" lat="43.6900499" lon="-79.2879699" stopId="4697"/>
<stop tag="2608" title="Victoria Park Avenue At Gerrard Street East" lat="43.6875599" lon="-79.2869299" stopId="4692"/>
<stop tag="7921" title="Victoria Park Avenue At Swanwick Avenue" lat="43.6852599" lon="-79.2859399" stopId="4696"/>
<stop tag="8160" title="Victoria Park Avenue At Woodale Avenue" lat="43.6834199" lon="-79.2851899" stopId="9414"/>
<stop tag="7857" title="Victoria Park Avenue At Meadow Avenue" lat="43.6818199" lon="-79.2845299" stopId="9415"/>
<stop tag="1480" title="Bingham Loop" lat="43.6815599" lon="-79.28492" stopId="2839"/>
<stop tag="3243" title="Bingham Loop Farside" lat="43.6814999" lon="-79.28485" stopId="13519"/>
<stop tag="10085" title="Victoria Park Avenue At Winston Avenue" lat="43.6837" lon="-79.28518" stopId="4698"/>
<stop tag="1468" title="Victoria Park Avenue At Swanwick Avenue" lat="43.6849099" lon="-79.2856799" stopId="4695"/>
<stop tag="3287" title="Victoria Park Avenue At Gerrard Street East Farside" lat="43.6873899" lon="-79.2866499" stopId="4691"/>
<stop tag="2450" title="Victoria Park Avenue At Danforth Avenue" lat="43.69108" lon="-79.2882" stopId="4689"/>
<stop tag="5105" title="Victoria Park Avenue At Denton Avenue" lat="43.6926399" lon="-79.28879" stopId="11348"/>
<stop tag="14302" title="Victoria Park Station" lat="43.6932499" lon="-79.28804" stopId="14785"/>
<stop tag="4384" title="Victoria Park Avenue At Crescent Town Road" lat="43.6964199" lon="-79.2903199" stopId="8443"/>
<stop tag="6679" title="Victoria Park Avenue At Conroy Avenue" lat="43.7015199" lon="-79.2927599" stopId="8440"/>
<stop tag="5154" title="Victoria Park Avenue At St Bedes Road" lat="43.70337" lon="-79.29357" stopId="8462"/>
<stop tag="1745" title="Victoria Park Avenue At Meighen Avenue" lat="43.7053599" lon="-79.2944199" stopId="8484"/>
<stop tag="7793" title="Victoria Park Avenue At Dawes Road" lat="43.70711" lon="-79.29513" stopId="8446"/>
<stop tag="1616" title="Victoria Park Avenue At St Clair Avenue" lat="43.7086099" lon="-79.2957599" stopId="8505"/>
<stop tag="5841" title="Victoria Park Avenue At Stamford Square" lat="43.7105799" lon="-79.2966" stopId="8506"/>
<stop tag="3445" title="Victoria Park Avenue At Bassett Venue" lat="43.7136899" lon="-79.2979199" stopId="8434"/>
<stop tag="1423" title="Victoria Park Avenue At Amsterdam Avenue" lat="43.71512" lon="-79.29851" stopId="8430"/>
<stop tag="7334" title="Victoria Park Avenue At Edge Park Avenue" lat="43.7175" lon="-79.29952" stopId="8451"/>
<stop tag="8529" title="Victoria Park Avenue At Valdane Drive" lat="43.7185799" lon="-79.2999699" stopId="8519"/>
<stop tag="6568" title="Victoria Park Avenue At Southmead Road" lat="43.7206599" lon="-79.3008599" stopId="8502"/>
<stop tag="5680" title="Victoria Park Avenue At Eglinton Square" lat="43.7227699" lon="-79.3017099" stopId="8455"/>
<stop tag="8181" title="Victoria Park Avenue At Eglinton Avenue" lat="43.72409" lon="-79.30224" stopId="6153"/>
<stop tag="10271" title="Victoria Park Avenue At Eglinton Avenue Farside" lat="43.7253699" lon="-79.30276" stopId="6152"/>
<stop tag="868" title="Victoria Park Avenue At Craigton Boulevard" lat="43.7265399" lon="-79.3032799" stopId="8442"/>
<stop tag="6608" title="Victoria Park Avenue At Biscayne Boulevard Farside" lat="43.72943" lon="-79.30447" stopId="8435"/>
<stop tag="3155" title="Victoria Park Avenue At Arncliffe Crescent Farside" lat="43.7320999" lon="-79.3055499" stopId="8431"/>
<stop tag="10128" title="Victoria Park Avenue At Innismore Crescent" lat="43.73455" lon="-79.30656" stopId="8470"/>
<stop tag="6460" title="Victoria Park Avenue At Surrey Avenue Farside" lat="43.7366" lon="-79.30741" stopId="8512"/>
<stop tag="1174" title="Victoria Park Avenue At Sloane Avenue" lat="43.7385299" lon="-79.3081999" stopId="8499"/>
<stop tag="3003" title="Victoria Park Avenue At Janet Boulevard" lat="43.7408399" lon="-79.3091499" stopId="8474"/>
<stop tag="8992" title="Victoria Park Avenue At Lawrence Avenue East" lat="43.7418699" lon="-79.3095599" stopId="8475"/>
<stop tag="2461" title="Victoria Park Avenue At Deanvar Avenue" lat="43.74489" lon="-79.31065" stopId="8449"/>
<stop tag="9286" title="Victoria Park Avenue At Greylawn Crescent South" lat="43.74847" lon="-79.31185" stopId="8466"/>
<stop tag="8883" title="Victoria Park Avenue At Rowena Drive" lat="43.75139" lon="-79.31286" stopId="14271"/>
<stop tag="5429" title="Victoria Park Avenue At Ivordale Crescent South" lat="43.75275" lon="-79.31333" stopId="8473"/>
<stop tag="7172" title="Victoria Park Avenue At Cassandra Boulevard" lat="43.75422" lon="-79.31384" stopId="8437"/>
<stop tag="10083" title="Victoria Park Avenue At Ivordale Crescent North Farside" lat="43.75595" lon="-79.31443" stopId="8471"/>
<stop tag="10377" title="Victoria Park Avenue At Ellesmere Road Farside" lat="43.7582299" lon="-79.31519" stopId="8456"/>
<stop tag="3238" title="Victoria Park Avenue At Paget Road Farside" lat="43.76017" lon="-79.31611" stopId="7417"/>
<stop tag="5603" title="Victoria Park Avenue At Pachino Boulevard Farside" lat="43.7625" lon="-79.31713" stopId="7416"/>
<stop tag="2334" title="Victoria Park Avenue At Terraview Boulevard" lat="43.76442" lon="-79.31795" stopId="7429"/>
<stop tag="7722" title="Victoria Park Avenue At Meadowacres Drive" lat="43.7717199" lon="-79.3212199" stopId="8481"/>
<stop tag="6705" title="Victoria Park Avenue At Esquire Road" lat="43.77338" lon="-79.32197" stopId="7412"/>
<stop tag="9608" title="Victoria Park Avenue At Sheppard Avenue" lat="43.77506" lon="-79.32271" stopId="8497"/>
<stop tag="532" title="Sheppard Avenue East At Commons Drive" lat="43.7757199" lon="-79.32056" stopId="7172"/>
<stop tag="4133" title="Sheppard Avenue East At Pharmacy Avenue" lat="43.77637" lon="-79.3178799" stopId="7228"/>
<stop tag="6512" title="Sheppard Avenue East At Abbotsfield Gate" lat="43.77704" lon="-79.31487" stopId="7139"/>
<stop tag="8305" title="Sheppard Avenue East At Palmdale Drive" lat="43.77784" lon="-79.3112999" stopId="7224"/>
<stop tag="874" title="Warden Avenue At Sheppard Avenue East Farside" lat="43.7793999" lon="-79.30812" stopId="12013"/>
<stop tag="9119" title="Warden Avenue At Bowater Drive Farside" lat="43.7810499" lon="-79.3088699" stopId="8538"/>
<stop tag="2937" title="Warden Avenue At Warden Court Drive" lat="43.7824199" lon="-79.3094699" stopId="8617"/>
<stop tag="4713" title="Warden Avenue At Huntingwood Drive" lat="43.78527" lon="-79.31069" stopId="8573"/>
<stop tag="8928" title="Warden Avenue At Plaza South Bridletown South" lat="43.7908" lon="-79.31311" stopId="9393"/>
<stop tag="6194" title="Warden Avenue At Bridletown Circle South" lat="43.7920799" lon="-79.3136699" stopId="8542"/>
<stop tag="4436" title="Warden Avenue At Apartments (South Of Finch)" lat="43.7947199" lon="-79.3148499" stopId="8527"/>
<stop tag="9561" title="Warden Avenue At Finch Avenue East" lat="43.7966" lon="-79.3155" stopId="8565"/>
<stop tag="1297" title="2955 Warden Avenue (Bridletown Mall)" lat="43.7991099" lon="-79.31678" stopId="14275"/>
<stop tag="6051" title="Warden Avenue At Bridletown Circle North" lat="43.8013599" lon="-79.3185199" stopId="8541"/>
<stop tag="8084" title="Warden Avenue At Glen Springs Drive" lat="43.8046299" lon="-79.3200199" stopId="8569"/>
<stop tag="6738" title="Warden Avenue At McNicoll Avenue Farside" lat="43.80669" lon="-79.32101" stopId="8589"/>
<stop tag="1502" title="Warden Avenue At Walkway (North McNicoll Avenue)" lat="43.80916" lon="-79.32216" stopId="8616"/>
<stop tag="1065" title="Warden Avenue At Bamburgh Circle South" lat="43.81148" lon="-79.32318" stopId="8533"/>
<stop tag="8559" title="3325 Warden Avenue" lat="43.81463" lon="-79.3245" stopId="10533"/>
<stop tag="2987" title="Warden Avenue At Bamburgh Circle North" lat="43.81603" lon="-79.3243799" stopId="10534"/>
<stop tag="1473" title="Warden Avenue At Steeles Avenue East" lat="43.81932" lon="-79.32422" stopId="10535"/>
<stop tag="6229_ar" title="Warden Loop At Steeles Avenue East" lat="43.8209799" lon="-79.32506"/>
<stop tag="4288" title="Victoria Park Avenue At Denton Avenue Farside" lat="43.69346" lon="-79.28913" stopId="11376"/>
<direction tag="324_1_324" title="North - 324 Victoria Park Blue Night towards Steeles via Sheppard and Warden" name="North" useForUI="true">
  <stop tag="3243" />
  <stop tag="10085" />
  <stop tag="1468" />
  <stop tag="3287" />
  <stop tag="2450" />
  <stop tag="5105" />
  <stop tag="14302" />
  <stop tag="4384" />
  <stop tag="6679" />
  <stop tag="5154" />
  <stop tag="1745" />
  <stop tag="7793" />
  <stop tag="1616" />
  <stop tag="5841" />
  <stop tag="3445" />
  <stop tag="1423" />
  <stop tag="7334" />
  <stop tag="8529" />
  <stop tag="6568" />
  <stop tag="5680" />
  <stop tag="8181" />
  <stop tag="10271" />
  <stop tag="868" />
  <stop tag="6608" />
  <stop tag="3155" />
  <stop tag="10128" />
  <stop tag="6460" />
  <stop tag="1174" />
  <stop tag="3003" />
  <stop tag="8992" />
  <stop tag="2461" />
  <stop tag="9286" />
  <stop tag="8883" />
  <stop tag="5429" />
  <stop tag="7172" />
  <stop tag="10083" />
  <stop tag="10377" />
  <stop tag="3238" />
  <stop tag="5603" />
  <stop tag="2334" />
  <stop tag="7722" />
  <stop tag="6705" />
  <stop tag="9608" />
  <stop tag="532" />
  <stop tag="4133" />
  <stop tag="6512" />
  <stop tag="8305" />
  <stop tag="874" />
  <stop tag="9119" />
  <stop tag="2937" />
  <stop tag="4713" />
  <stop tag="8928" />
  <stop tag="6194" />
  <stop tag="4436" />
  <stop tag="9561" />
  <stop tag="1297" />
  <stop tag="6051" />
  <stop tag="8084" />
  <stop tag="6738" />
  <stop tag="1502" />
  <stop tag="1065" />
  <stop tag="8559" />
  <stop tag="2987" />
  <stop tag="1473" />
  <stop tag="6229_ar" />
</direction>
<direction tag="324_1_324v" title="North - 324 Victoria Park Blue Night towards Steeles via Sheppard and Warden" name="North" useForUI="true">
  <stop tag="3243" />
  <stop tag="10085" />
  <stop tag="1468" />
  <stop tag="3287" />
  <stop tag="2450" />
  <stop tag="5105" />
  <stop tag="4288" />
  <stop tag="4384" />
  <stop tag="6679" />
  <stop tag="5154" />
  <stop tag="1745" />
  <stop tag="7793" />
  <stop tag="1616" />
  <stop tag="5841" />
  <stop tag="3445" />
  <stop tag="1423" />
  <stop tag="7334" />
  <stop tag="8529" />
  <stop tag="6568" />
  <stop tag="5680" />
  <stop tag="8181" />
  <stop tag="10271" />
  <stop tag="868" />
  <stop tag="6608" />
  <stop tag="3155" />
  <stop tag="10128" />
  <stop tag="6460" />
  <stop tag="1174" />
  <stop tag="3003" />
  <stop tag="8992" />
  <stop tag="2461" />
  <stop tag="9286" />
  <stop tag="8883" />
  <stop tag="5429" />
  <stop tag="7172" />
  <stop tag="10083" />
  <stop tag="10377" />
  <stop tag="3238" />
  <stop tag="5603" />
  <stop tag="2334" />
  <stop tag="7722" />
  <stop tag="6705" />
  <stop tag="9608" />
  <stop tag="532" />
  <stop tag="4133" />
  <stop tag="6512" />
  <stop tag="8305" />
  <stop tag="874" />
  <stop tag="9119" />
  <stop tag="2937" />
  <stop tag="4713" />
  <stop tag="8928" />
  <stop tag="6194" />
  <stop tag="4436" />
  <stop tag="9561" />
  <stop tag="1297" />
  <stop tag="6051" />
  <stop tag="8084" />
  <stop tag="6738" />
  <stop tag="1502" />
  <stop tag="1065" />
  <stop tag="8559" />
  <stop tag="2987" />
  <stop tag="1473" />
  <stop tag="6229_ar" />
</direction>
<direction tag="324_0_324" title="South - 324 Victoria Park Blue Night towards Kingston Rd" name="South" useForUI="true">
  <stop tag="6229" />
  <stop tag="3687" />
  <stop tag="876" />
  <stop tag="4837" />
  <stop tag="1841" />
  <stop tag="9718" />
  <stop tag="2587" />
  <stop tag="4847" />
  <stop tag="8966" />
  <stop tag="10381" />
  <stop tag="2310" />
  <stop tag="2849" />
  <stop tag="7971" />
  <stop tag="5001" />
  <stop tag="3344" />
  <stop tag="7589" />
  <stop tag="8829" />
  <stop tag="9600" />
  <stop tag="8323" />
  <stop tag="6529" />
  <stop tag="2032" />
  <stop tag="4870" />
  <stop tag="4745" />
  <stop tag="872" />
  <stop tag="9920" />
  <stop tag="3012" />
  <stop tag="2288" />
  <stop tag="9946" />
  <stop tag="4218" />
  <stop tag="10088" />
  <stop tag="7892" />
  <stop tag="8530" />
  <stop tag="8006" />
  <stop tag="1986" />
  <stop tag="8310" />
  <stop tag="1453" />
  <stop tag="1401" />
  <stop tag="749" />
  <stop tag="6829" />
  <stop tag="2717" />
  <stop tag="1803" />
  <stop tag="1781" />
  <stop tag="3970" />
  <stop tag="9280" />
  <stop tag="2096" />
  <stop tag="7775" />
  <stop tag="6820" />
  <stop tag="2517" />
  <stop tag="8750" />
  <stop tag="4046" />
  <stop tag="7449" />
  <stop tag="9831" />
  <stop tag="6315" />
  <stop tag="9165" />
  <stop tag="5235" />
  <stop tag="7331" />
  <stop tag="5208" />
  <stop tag="1983" />
  <stop tag="14700" />
  <stop tag="14731" />
  <stop tag="8504" />
  <stop tag="2623" />
  <stop tag="2608" />
  <stop tag="7921" />
  <stop tag="8160" />
  <stop tag="7857" />
  <stop tag="1480" />
</direction>
<path>
<point lat="43.72283" lon="-79.30202"/>
<point lat="43.7204" lon="-79.30096"/>
<point lat="43.71872" lon="-79.30025"/>
<point lat="43.71641" lon="-79.29928"/>
<point lat="43.71487" lon="-79.29862"/>
<point lat="43.71388" lon="-79.2982"/>
<point lat="43.71256" lon="-79.29764"/>
<point lat="43.71078" lon="-79.29689"/>
<point lat="43.70897" lon="-79.29622"/>
<point lat="43.70621" lon="-79.29494"/>
</path>
<path>
<point lat="43.79467" lon="-79.3150299"/>
<point lat="43.7923199" lon="-79.31406"/>
<point lat="43.79013" lon="-79.31311"/>
<point lat="43.78558" lon="-79.31113"/>
<point lat="43.7826" lon="-79.30981"/>
<point lat="43.78102" lon="-79.30915"/>
<point lat="43.77908" lon="-79.30812"/>
<point lat="43.77892" lon="-79.30817"/>
<point lat="43.77872" lon="-79.30789"/>
<point lat="43.77806" lon="-79.31132"/>
</path>
<path>
<point lat="43.77806" lon="-79.31132"/>
<point lat="43.77737" lon="-79.31449"/>
<point lat="43.77708" lon="-79.31516"/>
<point lat="43.77702" lon="-79.31554"/>
<point lat="43.77667" lon="-79.31755"/>
<point lat="43.77608" lon="-79.3201"/>
<point lat="43.7752399" lon="-79.3229999"/>
<point lat="43.77466" lon="-79.32288"/>
</path>
<path>
<point lat="43.6815" lon="-79.28485"/>
<point lat="43.68161" lon="-79.28453"/>
<point lat="43.68161" lon="-79.28447"/>
<point lat="43.68161" lon="-79.28443"/>
<point lat="43.68159" lon="-79.28437"/>
<point lat="43.6837" lon="-79.28518"/>
<point lat="43.68491" lon="-79.28568"/>
<point lat="43.68739" lon="-79.28665"/>
<point lat="43.69108" lon="-79.2882"/>
</path>
<path>
<point lat="43.69325" lon="-79.28804"/>
<point lat="43.69435" lon="-79.28859"/>
<point lat="43.69445" lon="-79.28895"/>
<point lat="43.69433" lon="-79.28961"/>
<point lat="43.69642" lon="-79.29032"/>
<point lat="43.69654" lon="-79.29047"/>
<point lat="43.6987" lon="-79.29147"/>
<point lat="43.70033" lon="-79.29231"/>
<point lat="43.70152" lon="-79.29276"/>
<point lat="43.70337" lon="-79.29357"/>
<point lat="43.70536" lon="-79.29442"/>
<point lat="43.70711" lon="-79.29513"/>
<point lat="43.70861" lon="-79.29576"/>
<point lat="43.71058" lon="-79.2966"/>
</path>
<path>
<point lat="43.72537" lon="-79.30276"/>
<point lat="43.72654" lon="-79.30328"/>
<point lat="43.72943" lon="-79.30447"/>
<point lat="43.7321" lon="-79.30555"/>
<point lat="43.73455" lon="-79.30656"/>
<point lat="43.7366" lon="-79.30741"/>
<point lat="43.73853" lon="-79.3082"/>
<point lat="43.74084" lon="-79.30915"/>
<point lat="43.74091" lon="-79.30934"/>
<point lat="43.74187" lon="-79.30956"/>
<point lat="43.74489" lon="-79.31065"/>
<point lat="43.74847" lon="-79.31185"/>
<point lat="43.75139" lon="-79.31286"/>
<point lat="43.75275" lon="-79.3133299"/>
<point lat="43.7542199" lon="-79.31384"/>
<point lat="43.75595" lon="-79.31443"/>
<point lat="43.75823" lon="-79.31519"/>
</path>
<path>
<point lat="43.69264" lon="-79.28879"/>
<point lat="43.69303" lon="-79.28816"/>
<point lat="43.69309" lon="-79.28812"/>
<point lat="43.69314" lon="-79.2881"/>
<point lat="43.69325" lon="-79.28804"/>
</path>
<path>
<point lat="43.71058" lon="-79.2966"/>
<point lat="43.71369" lon="-79.29792"/>
<point lat="43.71512" lon="-79.2985099"/>
<point lat="43.7175" lon="-79.29952"/>
<point lat="43.71858" lon="-79.29997"/>
<point lat="43.72066" lon="-79.30086"/>
<point lat="43.72277" lon="-79.30171"/>
<point lat="43.7240899" lon="-79.30224"/>
<point lat="43.72537" lon="-79.30276"/>
</path>
<path>
<point lat="43.77466" lon="-79.32288"/>
<point lat="43.77357" lon="-79.32239"/>
<point lat="43.77211" lon="-79.32174"/>
<point lat="43.76952" lon="-79.32032"/>
<point lat="43.76726" lon="-79.3193"/>
<point lat="43.7645399" lon="-79.3183899"/>
<point lat="43.76272" lon="-79.31752"/>
<point lat="43.75974" lon="-79.31618"/>
<point lat="43.75805" lon="-79.31546"/>
<point lat="43.75579" lon="-79.31464"/>
</path>
<path>
<point lat="43.75823" lon="-79.31519"/>
<point lat="43.7597499" lon="-79.31607"/>
<point lat="43.76017" lon="-79.31611"/>
<point lat="43.7625" lon="-79.31713"/>
<point lat="43.76442" lon="-79.31795"/>
<point lat="43.76983" lon="-79.32049"/>
<point lat="43.77105" lon="-79.3211"/>
<point lat="43.77172" lon="-79.32122"/>
<point lat="43.77338" lon="-79.3219699"/>
<point lat="43.77506" lon="-79.32271"/>
<point lat="43.7752399" lon="-79.3229999"/>
<point lat="43.77572" lon="-79.32056"/>
</path>
<path>
<point lat="43.6815" lon="-79.28485"/>
<point lat="43.68161" lon="-79.28453"/>
<point lat="43.68161" lon="-79.28447"/>
<point lat="43.68161" lon="-79.28443"/>
<point lat="43.68159" lon="-79.28437"/>
<point lat="43.6837" lon="-79.28518"/>
<point lat="43.68491" lon="-79.28568"/>
<point lat="43.68739" lon="-79.28665"/>
<point lat="43.69108" lon="-79.2882"/>
<point lat="43.69264" lon="-79.28879"/>
</path>
<path>
<point lat="43.77572" lon="-79.32056"/>
<point lat="43.77637" lon="-79.31788"/>
<point lat="43.77702" lon="-79.31554"/>
<point lat="43.77708" lon="-79.31516"/>
<point lat="43.77704" lon="-79.31487"/>
<point lat="43.77784" lon="-79.3113"/>
<point lat="43.77872" lon="-79.30789"/>
<point lat="43.77908" lon="-79.30812"/>
<point lat="43.7794" lon="-79.30812"/>
</path>
<path>
<point lat="43.79911" lon="-79.31678"/>
<point lat="43.79928" lon="-79.31707"/>
<point lat="43.80008" lon="-79.3179"/>
<point lat="43.80033" lon="-79.3181199"/>
<point lat="43.80064" lon="-79.31832"/>
<point lat="43.80136" lon="-79.31852"/>
<point lat="43.80463" lon="-79.32002"/>
<point lat="43.80669" lon="-79.32101"/>
<point lat="43.80916" lon="-79.32216"/>
<point lat="43.81148" lon="-79.3231799"/>
<point lat="43.81384" lon="-79.3244"/>
<point lat="43.81463" lon="-79.3245"/>
<point lat="43.81492" lon="-79.32468"/>
<point lat="43.81516" lon="-79.32469"/>
<point lat="43.81544" lon="-79.32467"/>
<point lat="43.81603" lon="-79.32438"/>
<point lat="43.81826" lon="-79.32427"/>
<point lat="43.81896" lon="-79.32432"/>
<point lat="43.81919" lon="-79.32437"/>
<point lat="43.81932" lon="-79.32422"/>
<point lat="43.81962" lon="-79.32442"/>
<point lat="43.82126" lon="-79.3248799"/>
<point lat="43.82118" lon="-79.3252"/>
<point lat="43.82098" lon="-79.3250599"/>
</path>
<path>
<point lat="43.7794" lon="-79.30812"/>
<point lat="43.78105" lon="-79.30887"/>
<point lat="43.78242" lon="-79.30947"/>
<point lat="43.78527" lon="-79.3106899"/>
<point lat="43.7908" lon="-79.31311"/>
<point lat="43.79208" lon="-79.31367"/>
<point lat="43.79472" lon="-79.31485"/>
<point lat="43.79521" lon="-79.31513"/>
<point lat="43.7966" lon="-79.3155"/>
<point lat="43.79809" lon="-79.31635"/>
<point lat="43.799" lon="-79.31684"/>
<point lat="43.79911" lon="-79.31678"/>
</path>
<path>
<point lat="43.75579" lon="-79.31464"/>
<point lat="43.75445" lon="-79.31414"/>
<point lat="43.75286" lon="-79.31363"/>
<point lat="43.7516" lon="-79.3131499"/>
<point lat="43.7474599" lon="-79.31177"/>
<point lat="43.74516" lon="-79.31096"/>
<point lat="43.74231" lon="-79.31001"/>
<point lat="43.74091" lon="-79.30934"/>
<point lat="43.73885" lon="-79.30861"/>
<point lat="43.73655" lon="-79.30766"/>
<point lat="43.73475" lon="-79.30692"/>
<point lat="43.73208" lon="-79.30583"/>
<point lat="43.7295" lon="-79.30477"/>
<point lat="43.72617" lon="-79.3033899"/>
<point lat="43.72488" lon="-79.30291"/>
<point lat="43.72283" lon="-79.30202"/>
</path>
<path>
<point lat="43.82098" lon="-79.3250599"/>
<point lat="43.82093" lon="-79.32492"/>
<point lat="43.82035" lon="-79.32465"/>
<point lat="43.81975" lon="-79.32466"/>
<point lat="43.81962" lon="-79.32442"/>
<point lat="43.81919" lon="-79.32437"/>
<point lat="43.81909" lon="-79.32446"/>
<point lat="43.81849" lon="-79.32427"/>
<point lat="43.81695" lon="-79.32442"/>
<point lat="43.8163" lon="-79.32463"/>
<point lat="43.81511" lon="-79.3247"/>
<point lat="43.81435" lon="-79.32456"/>
<point lat="43.81362" lon="-79.32437"/>
<point lat="43.81312" lon="-79.32409"/>
<point lat="43.81177" lon="-79.3236"/>
<point lat="43.80916" lon="-79.32237"/>
<point lat="43.80652" lon="-79.32115"/>
<point lat="43.80471" lon="-79.32035"/>
<point lat="43.80119" lon="-79.3187"/>
<point lat="43.80064" lon="-79.31832"/>
<point lat="43.80039" lon="-79.31816"/>
<point lat="43.80008" lon="-79.3179"/>
<point lat="43.7992599" lon="-79.31717"/>
<point lat="43.79928" lon="-79.31707"/>
<point lat="43.79885" lon="-79.31674"/>
<point lat="43.79732" lon="-79.316"/>
<point lat="43.79689" lon="-79.31598"/>
<point lat="43.79487" lon="-79.31502"/>
<point lat="43.79467" lon="-79.3150299"/>
</path>
<path>
<point lat="43.69264" lon="-79.28879"/>
<point lat="43.69346" lon="-79.28913"/>
<point lat="43.69642" lon="-79.29032"/>
<point lat="43.6987" lon="-79.29147"/>
<point lat="43.70033" lon="-79.29231"/>
<point lat="43.70152" lon="-79.29276"/>
<point lat="43.70337" lon="-79.29357"/>
<point lat="43.70536" lon="-79.29442"/>
<point lat="43.70711" lon="-79.29513"/>
<point lat="43.70861" lon="-79.29576"/>
<point lat="43.71058" lon="-79.2966"/>
</path>
<path>
<point lat="43.70621" lon="-79.29494"/>
<point lat="43.70388" lon="-79.2938999"/>
<point lat="43.7023" lon="-79.29325"/>
<point lat="43.70073" lon="-79.29257"/>
<point lat="43.69672" lon="-79.29066"/>
<point lat="43.69459" lon="-79.28981"/>
<point lat="43.69433" lon="-79.28961"/>
<point lat="43.6931" lon="-79.28931"/>
<point lat="43.69137" lon="-79.28851"/>
</path>
<path>
<point lat="43.69137" lon="-79.28851"/>
<point lat="43.69005" lon="-79.28797"/>
<point lat="43.68756" lon="-79.28693"/>
<point lat="43.68526" lon="-79.28594"/>
<point lat="43.68342" lon="-79.28519"/>
<point lat="43.68182" lon="-79.28453"/>
<point lat="43.68159" lon="-79.28437"/>
<point lat="43.68161" lon="-79.28443"/>
<point lat="43.68161" lon="-79.28447"/>
<point lat="43.68161" lon="-79.28453"/>
<point lat="43.68156" lon="-79.28492"/>
</path>
</route>
</body>
