#container {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: .2em;
    right: .2em;
}
header .login {
    display: block;
    position: absolute;
    top: .7em;
    right: .2em;
}

p.flash-message {
    border: 2px solid yellow;
    background-color: lightyellow;
    border-radius: 5px;
    padding: .5em 1em;
}
p.flash-error {
    border: 2px solid red;
    background-color: pink;
    border-radius: 5px;
    padding: .5em 1em;
}
#features {
    position: relative;
    overflow: auto;
    background: url("/img/bus-pic.jpeg") no-repeat;
}
#bus-float {
    width: 500px;
    height: 450px;
    background-color: blue;
}
#features ul {
    list-style: none;
    margin-left: 500px;
    margin-right: 10px;
    min-height: 400px;
    padding: 0;
}
#features ul li {
    margin: 1em 0;
}
#features ul li,
#price {
    font-family: "Gill Sans";
    font-weight: bold;
    font-size: 16px;
    border: 3px solid green;
    padding: .8em;
    text-align: center;
    background-color: rgba(200, 255, 200, .8);
    border-radius: 10px;
}
#features #price {
    margin-right: 200px;
}
#highlight .login {
    float: right;
    margin-top: .8em;
    margin-right: .8em;
}

.faq-entry {
    width: 380px;
    float: left;
    padding: 10px;
}
#faq-grid {
    overflow: auto;
}

.form_field.start {
    float: left;
}
.form_field.end {
    float: left;
}
.form_field.week {
    clear: left;
}
input.has_error {
    background-color: #ff6666;
}

ul#alerts-list {
    margin: .3em;
    padding-left: 0;
    list-style: none;
}
ul#alerts-list li {
    margin: .5em auto;
}
.alerts-minutes {
    width: 3em;
    text-align: right;
}
#alerts-list p,
.alerts-controls,
.alerts-controls input {
    display: inline;
}
.alerts-controls {
    margin-left: 2em;
    border: 1px solid green;
    background-color: lightgreen;
    padding: .2em;
}
.alerts-controls input {
    margin: 0;
}