{% macro with_errors(field, class=None) %}
    {% if class == None %}
        {% set class = "form_field "+field.id %}
    {% endif %}
    <div class="{{class}}">
    {{field.label}}
    {% if field.errors %}
        <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}