{% macro with_errors(field, class=None, wrapper=True) %}
    {% if wrapper %}
        {% if class == None %}
            {% set class = "form_field "+field.id %}
        {% endif %}
        <div class="{{class}}">
    {% endif %}
    {{field.label}}
    {% if field.errors %}
        <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    {% if wrapper %}
        </div>
    {% endif %}
{% endmacro %}