<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>{% block title %}Bus Calling{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700' rel='stylesheet' type='text/css'>
    {% block local_css %}
    <link href="/static/standard.css" rel="stylesheet" type="text/css" />
    {% endblock %}
    <meta name="description" content="Never miss your bus again! We use GPS data to track the MBTA buses in real time, and send you a gentle reminder when you need to go -- even if the bus is early or late." >
  {% endblock %}
</head>
<body>
  <div id="container">
    {% block container %}
    {% endblock %}
  </div>
  <footer><div id="footer-internal">
    <a class="contact" href="mailto:contact@buscalling.com">Contact Us</a>
    <p class="copyright">Copyright 2011, <a href="http://davidbaumgold.com">David Baumgold</a></p>
  </div></footer>
  {% block local_js %}
  {% endblock %}
</body>
</html>