{% from "_formhelpers.html" import with_errors %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>{% block title %}{% endblock %} | Bus Calling</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700' rel='stylesheet' type='text/css'>
    {#- <link href="/css/le-frog/jquery-ui-1.8.13.custom.css" rel="stylesheet" type="text/css" /> #}
    <link href="/css/timepicker.css" rel="stylesheet" type="text/css" />
  {% endblock %}
</head>
<body>
  <div id="container">
    <header>
      <div>
        <h1>Bus Calling</h1>
        <h2>Time management before the coffee kicks in.</h2>
        <div id="auth-info">
        {% if profile %}
          <span class="email">{{profile.email}}</span>
          <a href="{{ url_for("logout") }}">Log out</a>
        {% else %}
          <a href="{{ url_for("login") }}">Log in</a>
        {% endif %}
        </div>
      </div>
      {% if profile %}
        <ul id="tabs">
          <li id="payment-tab">
            {% if profile.subscribed %}
              You are subscribed. ▼
            {% else %}
              {% if profile.credits > 1 %}
                You have {{profile.credits}} credits remaining. ▼
              {% elif profile.credits == 1 %}
                You have only {{profile.credits}} credit remaining. ▼
              {% else %}
                Your account is disabled. ▼
              {% endif %}
            {% endif %}
          </li>
          <li id="profile-tab">
            Edit Profile ▼
          </li>
        </ul>
        <div id="dropdowns">
          {# all dropdowns start with display: none; the JS displays them on click #}
          <div id="payment-dropdown" class="dropdown" style="display: none;">
            <div class="dropdown-internal">
              {% if profile.subscribed %}
                <p>You are subscribed. All your bus alerts are free!</p>
                <div id="subscription-button-wrap">
                  <button id="unsubscribe-button" class="subscription-button">Unsubscribe</button>
                </div>
                <p>If you decide to unsubscribe, you can use credits instead: One credit per bus pickup. Credits never expire.
                {% if profile.credits == 1 %}
                  You have {{profile.credits}} credit left, but since you're subscribed, you don't need it.
                {% else %}
                  You have {{profile.credits}} credits left, but since you're subscribed, you don't need them.
                {% endif %}
                </p>
              {% else %}
                <p>You are not subscribed. While you are subscribed, all your bus alerts are free!</p>
                <div id="subscription-button-wrap">
                  <button id="subscribe-button" class="subscription-button">Subscribe for $5 per month</button>
                </div>
                <p>If you don't take the bus very often, you can use credits instead: One credit per bus pickup. If you have no remaining credits and you do not have an active subscription, you will not receive any alerts.
                {% if profile.credits == 1 %}
                  You have {{profile.credits}} credit left.
                {% else %}
                  You have {{profile.credits}} credits left.
                {% endif %}
                </p>
              {% endif %}
              <button>Buy 1 credit<br>$0.99</button>
              <button>Buy 6 credits<br>$5.00</button>
            </div>
          </div>
          <div id="profile-dropdown" class="dropdown" style="display: none">
            <form class="dropdown-internal">
              {{ with_errors(profile_form.first_name) }}
              {{ with_errors(profile_form.last_name) }}
              {{ with_errors(profile_form.phone) }}
              <input type="submit" value="Update" />
            </form>
          </div>
        </div>
      {% endif %}
    </header>
    {% block flash %}
    {%- for category, msg in get_flashed_messages(with_categories=true) %}
      <p class="flash-{{ category }}">{{ msg }}</p>
    {%- endfor %}
    {% endblock %}
    <div id="main" role="main">
      {% block main %}{% endblock %}
    </div>
    <footer>{% block footer %}
      Copyright 2011, <a href="http://davidbaumgold.com">David Baumgold</a>
    {% endblock %}</footer>
  </div>
  {% if js_file %}
    <script>
      window.app = {};
      app.model = {% if js_model %}{{js_model|safe}}{% else %}null{% endif %};
    </script>
  {% endif %}
  {%- for script in ["jquery-1.6.1", "base", "jquery.timepicker", "underscore", "proto-ext", "json2", js_file] %}
    <script src="/js/{{script}}.js"></script>
  {%- endfor %}
</body>
</html>