{# based on HTML5 boilerplate: http://html5boilerplate.com/ #}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>{% block title %}{% endblock %} | Bus Calling</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  {% endblock %}
</head>
<body>
  <div id="container">
    <header>{% block header %}{% endblock %}</header>
    {% for category, msg in get_flashed_messages(with_categories=true) %}
      <p class=flash-{{ category }}>{{ msg }}</p>
    {% endfor %}
    <div id="main" role="main">
      {% block main %}{% endblock %}
    </div>
    <footer>{% block footer %}
      Copyright 2011, <a href="http://davidbaumgold.com">David Baumgold</a>
    {% endblock %}</footer>
  </div>
  {% if js_file %}
  <script src="/js/yepnope.1.0.1-min.js"></script>
    {% if js_model %}
    <script>window.model = {{js_model|safe}}</script>
    {% endif %}
    {% if config.DEBUG %}
      {%- for script in ["jquery-1.6.1", "proto-ext", "json2", js_file] %}
        <script src="/js/{{script}}.js"></script>
      {%- endfor %}
    {% else %}
    <script>
      yepnope([{
        load: {
          'jquery': "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js",
          'ext':   "/js/proto-ext.js"
        },
        callback: {
          'jquery': function(url, result, key) {
            if (!window.jQuery) {
              yepnope("/js/jquery-1.6.1.min.js");
            }
          }
        }
      }, {
        test: window.JSON,
        nope: "/js/json2.js"
      }, {
        load: "/js/{{ js_file }}.js"
      }])
    </script>
    {% endif %}
  {% endif %}
  <!--
  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>
  -->
</body>
</html>