{% extends "standard.html" %}
{% block title %}Dashboard | {{super()}}{% endblock %}
{% block local_css %}
<link href="/static/standard.css" rel="stylesheet" type="text/css" />
<link href="/static/dashboard.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block main %}
  <a href="{{url_for('new_listener')}}" class="create-listener top">Add Alert</a>
  <h2 id="page-heading">Your Bus Alerts</h2>
  {% set listener_map = user.listeners|groupby('agency') %}
  {% macro render_listener(listener) -%}
    <li>
      <div class="aside">
        <div class="recur">{{listener.repeat_descriptor}}</div>
        <form action="{{url_for('destroy_listener', listener_id=listener.id, _method="DELETE")}}" method="POST">
          <input type="submit" value="Delete" />
        </form>
      </div>
      <div class="listener-info">
        <div><strong>{{listener.stop.name}}</strong> at around {{listener.start|timeformat}}</div>
        <div>Bus <strong>{{listener.route.name}}</strong> toward {{listener.direction.name}}</div>
        <div class="notifications-wrap">Notifications:
          {% if listener.scheduled_notifications %}
            <ul class="notifications">
            {% for notification in listener.scheduled_notifications %}
              <li>{{medium_map[notification.medium] | lower}} {{notification.minutes_before}}min{% if not loop.last %},{% endif %}</li>
            {% endfor %}
            </ul>
          {% else %}
            none
          {% endif %}
        </div>
      </div>
    </li>
  {% endmacro %}
  {% if listener_map|count == 0 %}
    <p class="no-listeners">
      You have not set up any bus alerts yet. 
      Would you like to <a href="{{ url_for('new_listener') }}">create a new one?</a>
    </p>
  {% elif listener_map|count == 1 %}
    {% set agency, listeners = listener_map|first %}
    <ul id="listeners">
    {% for listener in listeners %}
      {{ render_listener(listener) }}
    {% endfor %}
    </ul>
  {% else %}
    <ul id="listeners">
    {% for agency, listeners in listener_map %}
      <li>
        <div>{{agency.title}}</div>
        <ul>
        {% for listener in listeners %}
          {{ render_listener(listener) }}
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  <a href="{{url_for('new_listener')}}" class="create-listener">Add Alert</a>
{% endblock %}
