{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}
  <h1>Bus Calling</h1>
  <h2>Time management before the coffee kicks in.</h2>
{% endblock %}
{% block main %}
<p>Welcome {{user}}, you're logged in!</p>
{% if listeners %}
<ul>
{% for listener in listeners %}
  <li>{{listener}}
    <form action="{{url_for('destroy_listener', listener_id=listener.key().id())}}" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete Listener" />
    </form>
  </li>
{% endfor %}
</ul>
{% else %}
<p>You have no listeners.</p>
{% endif %}
<a href="{{url_for('new_listener')}}">New Listener</a>
{% endblock %}