{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block flash %}{% endblock %}
{% block nav %}{% endblock %}
{% block header %}
  <h1>Bus Calling</h1>
  <h2>Time management before the coffee kicks in.</h2>
  <a class="login" href="{{ login_url }}"><img src="/img/login-with-google.png" alt="Login with Google" /></a>
{% endblock %}
{% block main %}
  <div id="features">
    <img src="http://placehold.it/350x350.png" />
    <ul>
      <li>Track buses in real time</li>
      <li>Get a phone call or a text message when it's time to go</li>
      <li>No need to create a new account, just use your Gmail</li>
      <li>Set it up once, rely on it as long as you need</li>
      <li>Never miss your morning bus again!</li>
    </ul>
  </div>
  <div id="longform">
    <p>Public transportation is a dangerous game when the buses don't follow the schedule. Waiting at the bus stop is boring and uncomfortable -- but waiting at home is inviting disaster. What do you do when the bus rolls by while you're enjoying your morning coffee?</p>

    <p>Relax: we've got your back. Bus Calling tracks your bus <strong>in real time</strong>, so we know if the bus is running early or if it's delayed. We'll <strong>give you a call</strong> (or <em>send you a text!</em>) when the bus is 10 minutes away from your stop, so <strong>you're prepared,</strong> whenever your ride gets there. The bus doesn't follow the schedule -- <em>why should you?</em></p>
  </div>
  <div id="highlight">
    <a class="login" href="{{ login_url }}"><img src="/img/login-with-google.png" alt="Login with Google" /></a>
    <div id="price">
      Only <em>$5 per month</em> for as many alerts as you need. We use PayPal to keep your information safe. Cancel anytime.
    </div>
  </div>
{% endblock %}