{% extends 'base.html' %}
{% block local_css %}
<link href="/static/lander.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}
  <header> 
    <h1>Bus Calling</h1> 
    <h2>Time management before the coffee kicks in.</h2>
    <a href="{{ login_url }}" class="login button">
      <span class="action">Log In</span>
      <span class="service">with Google</span>
    </a>
  </header> 
  <div id="main" role="main">
    <div id="headline">
      <p>Unreliable bus?</p>
      <img src="/static/too-late.png" alt="Too late!" />
      <p>Get some reliable help.</p>
      <img src="/static/on-time.png" alt="Ready to go!" />
      <p>We'll let you know when you <em>really</em> need to go, <br/> even if the bus is early or late.</p>
      <p class="small">And let's face it, how often is the bus really on time?</p>
    </div>
    <div id="sub-headline">
      <div id="price-info">
        <p class="h1">How much?</p>
        <p class="you-are">Veteran bus-rider?</p>
        <div class="category">
          <span class="title">Commuter Price</span>
          <span class="price">$5 per month</span>
          <span class="note">unlimited pickups</span>
        </div>
        <p class="you-are">Just the occasional ride?</p>
        <div class="category">
          <span class="title">Pay As You Go</span>
          <span class="price">$0.99 per pickup</span>
          <span class="note">or 6 pickups for $5</span>
        </div>
        <div id="paypal">
          <img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_50x34.gif" id="paypal-logo" alt="Payments by PayPal" />
          <p>We use PayPal to keep your payment information safe and secure.</p>
        </div>
      </div>

      <div id="description">
        <p class="h1">Here's the scoop</p>
        <ol id="the-scoop">
          <li>You log in and tell us which bus you want, which stop you use, and what time it usually comes.</li>
          <li>We use <abbr title="Global Positioning Systems">GPS</abbr> to check on your bus in real time, and find out if it's early or late.</li>
          <li>When you need to go, we'll call or text you to let you know.</li>
          <li>You get to the bus stop just in time to see the bus arrive.</li>
        </ol>
        <p class="free-trial">We'll even give you <em>5 free pickups</em> to get started!</p>
        <a class="login button" href="{{ login_url }}">
          <span class="action">Log In</span>
          <span class="service">with Google</span>
        </a>
        <p class="oauth-explanation">You don't need another username and password to remember: just <a href="{{ login_url }}">log in with your Google Account</a> and give it a try!</p>
      </div>
    </div>

  </div>
{% endblock container %}
