{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}
  <h1>Bus Calling</h1>
  <h2>Time management before the coffee kicks in.</h2>
{% endblock %}
{% from "_formhelpers.html" import with_errors %}
{% block main %}
<p>Welcome {{profile.name}}, you're logged in!</p>
<form method="POST" action="{{ url_for('lander') }}">
    <input type="hidden" name="_method" value="PUT" />
    {{form.hidden_tag()}}
    {{with_errors(form.first_name)}}
    {{with_errors(form.last_name)}}
    {{with_errors(form.phone)}}
    <input type="submit" value="Update" />
</form>
<h2>Listeners</h2>
{% set listener_map = profile.listeners|groupby('agency') %}
{% macro render_listener(listener) -%}
    <li>{{listener.route.title}} bus at {{listener.stop.title}} towards {{listener.direction.title}}, at around {{listener.start|timeformat}}
      <form action="{{url_for('destroy_listener', listener_id=listener.id)}}" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete Listener" />
      </form>
    </li>
{%- endmacro %}
{% if listener_map|count == 0 %}
  <p>You have no listeners.</p>
{% elif listener_map|count == 1 %}
  {% set agency, listeners = listener_map|first %}
  <ul>
  {% for listener in listeners %}
    {{ render_listener(listener) }}
  {% endfor %}
  </ul>
{% else %}
  <ul>
  {% for agency, listeners in listener_map %}
    <li>
      <div>{{agency.title}}</div>
      <ul>
      {% for listener in listeners %}
        {{ render_listener(listener) }}
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endif %}

<a href="{{url_for('new_listener')}}">New Listener</a>

{% if profile.subscribed %}
<p>You have an active subscription. All bus alerts are free!</p>
<a href="{{paypal_url}}?cmd=_subscr-find&amp;alias={{unsub_id}}">
<img src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif">
</a>

{% else %}
<p>You are currently unsubscribed. Each bus alert you recieve will cost one credit. If you have no credits, you will not be alerted.</p>
<form action="{{paypal_url}}" method="post">
<div style="display:none;">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="{{sub_id}}" />
  <input type="hidden" name="custom" value="{{profile.user_id}}" />
  <input type="hidden" name="notify_url" value="https://buscalling.appspot.com{{ url_for('paypal_ipn') }}" />
</div>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" name="submit" alt="Subscribe with PayPal" />
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
</form>
{% endif %}

<p>You have {{profile.credits}} credits remaining.</p>

{% endblock %}