@import "compass/reset";
@import "compass/css3";

$paypal-green: #fec;

@mixin clearfix {
    overflow: hidden;
}

html, body {
    height: 100%;
    font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}
h1, h2, h3, p.h1, p.h2, p.h3 {
    font-family: "Gentium Basic", "Garamond", "Hoefler Text", Times, serif;
}
body {
    background-color: lightblue;
}
$container-width: 800px; 
$footer-height: 25px;
#container, footer {   
    background-color: white; 
    width: $container-width;
    margin: 0 auto;
    position: relative; 
}
#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: $footer-height;
}
footer {
    position: relative;
    margin-top: -$footer-height;
    height: $footer-height;
    clear: both;
    background-color: #333;
    color: #ccc;
    opacity: .7;

    a {
        color: #aaa;
    }

    #footer-internal {
        padding: {
            top: 5px;
            left: 5px;
            right: 5px;
        }
    }

    .contact {
        display: block;
        float: left;
    }
    .copyright {
        float: right;
    }
}
h1 {
    font-size: 20pt;
}
h2 {
    font-size: 14pt;
}
h3 {
    font-size: 13pt;
    text-align: center;
    font-weight: bold;
}
strong {
    font-weight: bold;
}

// flash messages
div.flash {
    $flash-icon-width: 32px;
    $flash-icon-margin: 10px;

    width: 100%;
    min-height: $flash-icon-width;
    background: $paypal-green $flash-icon-margin center no-repeat;

    &.success {
        background: {
            color: lighten(green, 30%);
            image: url(check.png);
        }

        .wrap {
            border-color: green;
        }
    }
    &.warn {
        background: {
            color: lighten(yellow, 30%);
            image: url(warn.png);
        }
        .wrap {
            border-color: yellow;
        }
    }
    &.error {
        background: {
            color: lighten(red, 30%);
            image: url(error-x.png);
        }
        .wrap {
            border-color: red;
        }
    }
    &.message {
        background-image: url(info.png);
    }

    .wrap {
        border: 2px solid darken($paypal-green, 10%);
        padding: {
            left: $flash-icon-width + 2*$flash-icon-margin;
            right: $flash-icon-margin;
            top: 5px;
            bottom: 5px;
        }
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: table;
    }

    p {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        height: 32px;
        padding: auto 2em;

        &:before, &:after {
            content: "";
            display: table-cell;
            width: 32px;
        }
    }
}
