@import "compass/reset";
@import "compass/css3";

$paypal-green = #fec;

@mixin clearfix {
    overflow: hidden;
}

html, body {
    height: 100%;
    font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}
h1, h2, p.h1, p.h2 {
    font-family: "Gentium Basic", "Garamond", "Hoefler Text", Times, serif;
}
body {
    background-color: lightblue;
}
$container-width: 800px; 
$footer-height: 25px;
#container, footer {   
    background-color: white; 
    width: $container-width;
    margin: 0 auto;
    position: relative; 
}
#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: $footer-height;
}
footer {
    position: relative;
    margin-top: -$footer-height;
    height: $footer-height;
    clear: both;
    background-color: #333;
    color: #ccc;
    opacity: .7;

    a {
        color: #aaa;
    }

    #footer-internal {
        padding: {
            top: 5px;
            left: 5px;
            right: 5px;
        }
    }

    .contact {
        display: block;
        float: left;
    }
    .copyright {
        float: right;
    }
}
h1 {
    font-size: 20pt;
}
h2 {
    font-size: 14pt;
}