@import "compass/css3";
@import "addons/button";

$peach = #F95;

.create-listener {
    @include button(simple, $peach);
    border-radius: 1em;
    margin: .5em;

    &.top {
        float: right;
    }
}

ul#listeners {
    clear: both;

    li {
        padding: .5em 1em;

        .aside {
            float: right;
            text-align: right;
            form {
                text-align: right;
            }
        }
    }
}