@import "base";
@import "timepicker";
@import "button";
 
header {
    position: relative;
    background-color: white;
    z-index: 5;

    #title-top {
        padding: {
            left: 1em;
            right: 1em;
            top: .5em;
        }
        h1 a, h2 a {
            color: black;
            text-decoration: none;
        }
    }

    #auth-info {
        position: absolute;
        top: .5em;
        right: 1em;

        .email {
            font-weight: bold;
        }
    }

    ul#tabs {
        margin-top: .2em;
        background-color: pink;
        @include clearfix;

        li {
            cursor: pointer;

            a {
                display: block;
                color: black;
                text-decoration: none;
                padding: {
                    top: .3em;
                    bottom: .3em;
                    left: 1em;
                    right: 1em;
                }
            }

            &#payment-tab {
                float: left;
                width: 2/3 * $container-width;
            }
            &#profile-tab {
                float: right;
                width: 1/3 * $container-width;
                text-align: right;
            }
            &:hover {
                background-color: red;
            }
        }
    }
}

#dropdowns {
    position: relative;

    $dropdown-internal-padding: 10px;
    .dropdown {
        position: absolute;
        background-color: white;
        bottom: 0; 
        @include border-bottom-radius(5px);
        z-index: 4;

        // can't put border on .dropdown, because it mucks with the width
        // so put the border on .dropdown-interal, instead
        .dropdown-internal {
            padding: $dropdown-internal-padding;
            border: {
                top: 0;
                left: 1px;
                right: 1px;
                bottom: 1px;
                style: dotted;
                color: gray;
            }
            @include border-bottom-radius(5px);
        }

        .dropdown-cancel {
            display: block;
            position: absolute;
            bottom: 12px;
            right: 12px;
        }
 
        button {
            @include button(simple, #fec);

            span.action {
                display: block;
                font: {
                    weight: bold;
                    size: 12pt;
                }
            }
            span.price {
                display: block;
                font: {
                    weight: normal;
                    size: 9pt;
                }
            }
        }
    }

    #payment-dropdown {
        left: 0;
        width: 2/3 * $container-width;

        img#paypal-logo {
            float: right;
        }

        p#credits-left {
            margin: 1em 0;
            text-align: center;
        }

        #subscription-button-wrap {
            $width: 147px;
            margin: .5em auto;
            display: block;

            width: $width;
            button { 
                width: $width;
                display: block;
            }
            img.pixel-tracer {
                float: left;
            }
        }

        ul#buy-credits {
            overflow: hidden;
            width: 80%;
            margin: 0 auto;

            li {
                float: left;
                width: 50%;
                text-align: center;

                form {
                    text-align: center;
                }
            }
        }
    }

    #profile-dropdown {
        $dropdown-width: $container-width - 2/3 * $container-width;
        right: 0;
        width: $dropdown-width;

        $label-width: 80px;
        .form_field {
            input {
                width: $dropdown-width - $label-width - 3*$dropdown-internal-padding;
            }
            label {
                display: block;
                width: $label-width;
                white-space: nowrap;
                float: left;
                padding: {
                    top: 4px;
                    bottom: 2px;
                }
            }
        }
        input[type=submit] {
            margin-left: $label-width;
        }
    }
}

#page-heading {
    font-size: 20pt;
    padding: .3em;
}
