{% extends 'base.html' %}
{% block title %}Your Listeners{% endblock %}

{% block header %}<h1>Your Listeners</h1>{% endblock %}
{% from "_formhelpers.html" import with_errors %}
{% block main %}
{% if listeners %}
<ul>
{% for l in listeners %}
    <li>{{l.route_id}}, {{l.stop_id}} between {{l.start}} and {{l.end}}; {{l.repeat_descriptor}}</li>
{% endfor %}
</ul>
{% else %}
<p>You have not set any bus listeners.</p>
{% endif %}
<p><a href="{{ url_for('new_listener') }}">New Listener</a></p>
{% endblock %}