{% extends 'base.html' %}
{% block title %}New Listener{% endblock %}

{% block header %}<h1>New Listener</h1>{% endblock %}
{% from "_formhelpers.html" import with_errors %}
{% block main %}
<form method="POST" action="{{ url_for('new_listener') }}">
    {{form.hidden_tag()}}
    <noscript>This form requires Javascript.</noscript>
    <fieldset id="bus-info">
        <legend>Bus</legend>
        {{ with_errors(form.agency_id) }}
        {{ with_errors(form.route_id) }}
        {{ with_errors(form.direction_id) }}
        {{ with_errors(form.stop_id) }}
    </fieldset>
    <fieldset id="time-info">
        <legend>Time</legend>
        {{ with_errors(form.start, placeholder="07:00:00") }}

        <div class="form_field week">
            {% if form.errors.week %}
                <ul class="errors">
                    <li>{{ form.errors.week }}</li>
                </ul>
            {% endif %}
            <table id="weekpicker">
                <thead>
                    {% for day in DAYS_OF_WEEK %}
                    <th>{{form[day].label}}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for day in DAYS_OF_WEEK %}
                    <td>{{form[day]}}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset id="alerts">
        <legend>{{form.alerts.label}}</legend>
        <input type="hidden" name="{{form.alerts.id}}-length" id="{{form.alerts.id}}-length" value="{{form.alerts.entries|length}}" />
        <ul id="alerts-list">
        {% for alert in form.alerts.entries %}
            <li id="{{alert.id}}">
                {% if alert.medium.errors or alert.minutes.errors %}
                <ul class="errors">
                    {% for error in alert.medium.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in alert.minutes.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if alert.medium.errors %}
                    {% set medium_class = "alerts-medium has_error" %}
                {% else %}
                    {% set medium_class = "alerts-medium" %}
                {% endif %}
                {% if alert.minutes.errors %}
                    {% set minutes_class = "alerts-minutes has_error" %}
                {% else %}
                    {% set minutes_class = "alerts-minutes" %}
                {% endif %}
                <p>{{alert.medium(class=medium_class)}} me {{alert.minutes(class=minutes_class)}} minutes before the bus arrives</p>
                <div class="alerts-controls">
                    <input type="button" value="+" class="add-alert">
                    <input type="button" value="-" class="delete-alert" {% if form.alerts.entries|length == 1 %}disabled="disabled"{% endif %}/>
                </div>
            </li>
        {% endfor %}
        </ul>
    </fieldset>
    <input type="submit" value="Create Listener" />
</form>
{% endblock %}