{% extends 'standard.html' %}
{% block title %}New Listener | {{super()}}{% endblock %}
{% from "_formhelpers.html" import with_errors %}
{% block local_css %}
    <link href="/static/standard.css" rel="stylesheet" type="text/css" />
    <link href="/static/new-listener.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block main %}
<form method="POST" action="{{ url_for('new_listener') }}">
    {{form.hidden_tag()}}
    <fieldset id="bus-info">
        <h2>Bus</h2>
        {{ with_errors(form.agency_id) }}
        {{ with_errors(form.route_id) }}
        {{ with_errors(form.direction_id) }}
        {{ with_errors(form.stop_id) }}
    </fieldset>
    <fieldset id="time-info">
        <h2>Time</h2>

        {{ with_errors(form.recur) }}

        <div class="form_field dates">
            {% if form.recur.data %}
                <label id="dates-label-plural">Dates</label>
                {{ form.dow.label(id="dates-label-singular", style="display:none;") }}
            {% else %}
                <label id="dates-label-plural" style="display:none;">Dates</label>
                {{ form.dow.label(id="dates-label-singular") }}
            {% endif %}
            {% if form.errors.week or form.dow.errors %}
                <ul class="errors">
                    {% for error in form.errors.week %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in form.dow.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <table id="week_checkboxes" {% if not form.recur.data %}style="display:none;"{% endif %}>
                <thead>
                    {% for day in DAYS_OF_WEEK %}
                    <th>{{form[day].label}}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    <tr>
                    {% for day in DAYS_OF_WEEK %}
                        <td>{{form[day]}}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>

            {% if form.recur.data %}
                {{ form.dow(style="display:none;") }}
            {% else %}
                {{ form.dow }}
            {% endif %}
        </div>

        <div class="form_field start">
            {{ with_errors(form.start, placeholder="7:00 AM", wrapper=False) }}
            <img src="/static/help.png" class="help_icon" />
            <p class="help_text" style="display:none;">
                This is the time that we will start checking your bus for you. For example, 
                if you expect your bus to come at 7:00 AM and you want to be notified 5 minutes 
                before it arrives, you should set this not later than 6:55 AM, and 6:50 AM 
                is probably a better idea (in case your bus is early). In general, set this 
                5 or 10 minutes before the first notification you want to get for your bus.
            </p>
        </div>

    </fieldset>
    <fieldset id="notifications">
        <h2>{{form.notifications.label}}</h2>
        <input type="hidden" name="{{form.notifications.id}}-length" id="{{form.notifications.id}}-length" value="{{form.notifications.entries|length}}" />
        <ul id="notifications-list">
        {% for notification in form.notifications.entries %}
            <li id="{{notification.id}}">
                {% if notification.medium.errors or notification.minutes.errors %}
                <ul class="errors">
                    {% for error in notification.medium.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in notification.minutes.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if notification.medium.errors %}
                    {% set medium_class = "notifications-medium has_error" %}
                {% else %}
                    {% set medium_class = "notifications-medium" %}
                {% endif %}
                {% if notification.minutes.errors %}
                    {% set minutes_class = "notifications-minutes has_error" %}
                {% else %}
                    {% set minutes_class = "notifications-minutes" %}
                {% endif %}
                <p>{{notification.medium(class=medium_class)}} me {{notification.minutes(class=minutes_class)}} minutes before the bus arrives</p>
                <div class="notifications-controls">
                    <input type="button" value="+" class="add-notification">
                    <input type="button" value="-" class="delete-notification" {% if form.notifications.entries|length == 1 %}disabled="disabled"{% endif %}/>
                </div>
            </li>
        {% endfor %}
        </ul>
        <div id="sms-warning" class="help_text" style="display:none;">
            <h3>Warning: Text Notifications are Unreliable</h3>
            <p>Normal calls take priority over sending text messages on a network. When many people are making calls and sending texts all at once, the phone companies put the calls through immediately, but wait to deliver text messages until fewer people are using the network &mdash; which can take hours. Sometimes, texts are never delivered at all! (<a href="http://en.wikipedia.org/wiki/SMS#Unreliability">See Wikipedia for more information.</a>)</p>
            <p>If you choose to use text notifications, Bus Calling will always send your text message at the right time, but <strong>we cannot guarantee that you will receive it promptly, or at all</strong>. That isn't something we can control: it's up to the phone companies. Since a bus notification isn't very useful if it's delivered late, we don't recommend text messages as the only way of getting bus notifications.</p>
        </div>
    </fieldset>
    <a href="{{ url_for('dashboard') }}" class="cancel">Cancel</a>
    <input type="submit" value="Create Alert" />
</form>
{% endblock %}
