{% extends 'base.html' %}
{% block title %}New Listener{% endblock %}

{% block header %}<h1>New Listener</h1>{% endblock %}
{% from "_formhelpers.html" import with_errors %}
{% block main %}
<form method="POST" action="{{ url_for('new_listener') }}">
    {{form.hidden_tag()}}
    <noscript>This form requires Javascript.</noscript>
    <fieldset id="bus-info">
        <legend>Bus</legend>
        {{ with_errors(form.agency_id) }}
        {{ with_errors(form.route_id) }}
        {{ with_errors(form.direction_id) }}
        {{ with_errors(form.stop_id) }}
    </fieldset>
    <fieldset id="time-info">
        <legend>Time</legend>
        {{ with_errors(form.start, placeholder="07:00:00") }}
        {{ with_errors(form.end) }}

        <div class="form_field week">
            {% if form.errors.week %}
                <ul class="errors">
                    <li>{{ form.errors.week }}</li>
                </ul>
            {% endif %}
            <table id="weekpicker">
                <thead>
                    {% for day in DAYS_OF_WEEK %}
                    <th>{{form[day].label}}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for day in DAYS_OF_WEEK %}
                    <td>{{form[day]}}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset id="alerts">
        <legend>{{form.alerts.label}}</legend>
        {% for alert in form.alerts.entries %}
            {{ with_errors(alert.minutes) }}
            {{ with_errors(alert.medium) }}
        {% endfor %}
    </fieldset>
    <input type="submit" value="Create Listener" />
</form>
{% endblock %}