HTTP/1.1 200 OK
Date: Sun, 25 Dec 2011 20:01:33 GMT
Server: Apache/2.2.4 (Unix) mod_ssl/2.2.4 OpenSSL/0.9.7m DAV/2 mod_jk/1.2.30
Access-Control-Allow-Origin: *
Vary: Accept-Encoding
Content-Encoding: gzip
Content-Length: 2926
Connection: close
Content-Type: text/xml

<?xml version="1.0" encoding="utf-8" ?> 
<body copyright="All data copyright Toronto Transit Commission 2011.">
<route tag="352" title="352-Lawrence West" color="ff0000" oppositeColor="ffffff" latMin="43.7002599" latMax="43.7249299" lonMin="-79.51672" lonMax="-79.40342">
<stop tag="548" title="John Street At Weston Road" lat="43.7005299" lon="-79.51543" stopId="6094"/>
<stop tag="4350" title="Lawrence Avenue West At Ralph Street Farside" lat="43.70111" lon="-79.5117199" stopId="5397"/>
<stop tag="10388" title="Lawrence Avenue West At Pine Street" lat="43.70188" lon="-79.5084099" stopId="5395"/>
<stop tag="6244" title="Lawrence Avenue East At Jane Street" lat="43.70276" lon="-79.50422" stopId="2824"/>
<stop tag="7313" title="Lawrence Avenue West At Duckworth Street" lat="43.7034799" lon="-79.50016" stopId="5359"/>
<stop tag="6273" title="Lawrence Avenue West At Brookhaven Drive" lat="43.7042399" lon="-79.4968" stopId="5346"/>
<stop tag="9363" title="Lawrence Avenue West At Olympia Drive Farside" lat="43.70545" lon="-79.4912699" stopId="5391"/>
<stop tag="8583" title="Lawrence Avenue West At Culford Road Farside" lat="43.70633" lon="-79.4873399" stopId="5356"/>
<stop tag="6160" title="Lawrence Avenue West At Pimlico Road" lat="43.7073899" lon="-79.48254" stopId="5394"/>
<stop tag="5332" title="Lawrence Avenue West At Keele Street Farside" lat="43.7088399" lon="-79.4774" stopId="5381"/>
<stop tag="5621" title="Lawrence Avenue West At Duval Drive" lat="43.70959" lon="-79.4747099" stopId="5366"/>
<stop tag="7681" title="Lawrence Avenue West At Benton Road" lat="43.7101599" lon="-79.47203" stopId="5340"/>
<stop tag="3948" title="Lawrence Avenue West At Caledonia Road Farside" lat="43.7114599" lon="-79.4661" stopId="5350"/>
<stop tag="3280" title="Lawrence Avenue West At Sage Avenue" lat="43.71212" lon="-79.4632899" stopId="5403"/>
<stop tag="5277" title="Lawrence Avenue West At Dufflaw Road" lat="43.71263" lon="-79.4609499" stopId="5363"/>
<stop tag="1443" title="Lawrence Avenue West At Good Sheppard Court" lat="43.71315" lon="-79.4586299" stopId="5373"/>
<stop tag="6485" title="Lawrence Avenue West At Dufferin Street" lat="43.7139099" lon="-79.455" stopId="5360"/>
<stop tag="4572" title="Lawrence Avenue West At Corona Street Farside" lat="43.7143299" lon="-79.45198" stopId="5353"/>
<stop tag="4829" title="Lawrence Avenue West At Bolingbroke Road" lat="43.7148599" lon="-79.44954" stopId="5343"/>
<stop tag="1125" title="Lawrence Avenue West At Marlee Avenue" lat="43.71545" lon="-79.4467699" stopId="5389"/>
<stop tag="6770" title="Lawrence West Station" lat="43.7160499" lon="-79.44409" stopId="12202"/>
<stop tag="6123" title="Lawrence Avenue West At Shermount Avenue Farside" lat="43.7166699" lon="-79.44103" stopId="5407"/>
<stop tag="6143" title="Lawrence Avenue West At Englemount Avenue Farside" lat="43.71731" lon="-79.4380599" stopId="5369"/>
<stop tag="8778" title="Lawrence Avenue West At Brookview Drive" lat="43.7178999" lon="-79.43529" stopId="5347"/>
<stop tag="4794" title="Lawrence Avenue West At Glenmount Avenue" lat="43.7183799" lon="-79.43315" stopId="5371"/>
<stop tag="3328" title="Lawrence Avenue West At Bathurst Street" lat="43.71905" lon="-79.4301799" stopId="5337"/>
<stop tag="6133" title="Lawrence Avenue West At Glen Rush Boulevard" lat="43.7197999" lon="-79.42689" stopId="5370"/>
<stop tag="3194" title="Lawrence Avenue West At Ledbury Street" lat="43.7207" lon="-79.4226199" stopId="5385"/>
<stop tag="8940" title="Lawrence Avenue West At Kimbark Boulevard" lat="43.7215799" lon="-79.41851" stopId="5384"/>
<stop tag="10298" title="Lawrence Avenue West At Avenue Road" lat="43.72209" lon="-79.4158399" stopId="5335"/>
<stop tag="4672" title="Opposite 250 Lawrence Avenue West" lat="43.7227099" lon="-79.41323" stopId="5392"/>
<stop tag="1199" title="Lawrence Avenue West At Chatsworth Drive" lat="43.7231" lon="-79.4113899" stopId="5352"/>
<stop tag="6303" title="Lawrence Avenue West At Greer Road" lat="43.72362" lon="-79.4089199" stopId="5374"/>
<stop tag="6661" title="Lawrence Avenue West At Duplex Avenue" lat="43.7242599" lon="-79.40576" stopId="5365"/>
<stop tag="9325" title="Lawrence Avenue West At Cortland Avenue Farside" lat="43.7247599" lon="-79.40344" stopId="5355"/>
<stop tag="9034" title="Lawrence Avenue West At Lorindale Avenue" lat="43.7249299" lon="-79.40342" stopId="5388"/>
<stop tag="9906" title="Lawrence Avenue West At Jedburgh Road" lat="43.7244999" lon="-79.40548" stopId="5380"/>
<stop tag="10103" title="Lawrence Avenue West At Greer Road" lat="43.72381" lon="-79.4086099" stopId="5375"/>
<stop tag="9278" title="Lawrence Avenue West At Elm Road Farside" lat="43.7230499" lon="-79.41239" stopId="5368"/>
<stop tag="9327" title="Lawrence Avenue West At Avenue Road" lat="43.72242" lon="-79.4152399" stopId="5336"/>
<stop tag="4877" title="Lawrence Avenue West At Grey Road" lat="43.7217499" lon="-79.41835" stopId="5376"/>
<stop tag="6081" title="Lawrence Avenue West At Ledbury Street" lat="43.72092" lon="-79.4223199" stopId="5386"/>
<stop tag="9417" title="Lawrence Avenue West At Welland Street" lat="43.7200699" lon="-79.42632" stopId="5411"/>
<stop tag="4078" title="Lawrence Avenue West At Bathurst Street" lat="43.7194599" lon="-79.4293" stopId="5339"/>
<stop tag="6101" title="Lawrence Avenue West At Bathurst Street Farside" lat="43.7192299" lon="-79.43057" stopId="5338"/>
<stop tag="7952" title="Lawrence Avenue West At Brucewood Crescent" lat="43.71859" lon="-79.4327999" stopId="5349"/>
<stop tag="8638" title="Lawrence Avenue West At Brookview Drive" lat="43.7181699" lon="-79.43496" stopId="5348"/>
<stop tag="452" title="Lawrence Avenue West At Varna Drive Farside" lat="43.7175399" lon="-79.43793" stopId="5410"/>
<stop tag="7926" title="Lawrence Avenue West At Shermount Avenue" lat="43.7168599" lon="-79.44103" stopId="5408"/>
<stop tag="960" title="Lawrence West Station" lat="43.7160499" lon="-79.44439" stopId="12203"/>
<stop tag="1492" title="Lawrence Avenue West At Marlee Avenue Farside" lat="43.71559" lon="-79.4470899" stopId="5390"/>
<stop tag="6966" title="Lawrence Avenue West At Bolingbroke Road" lat="43.7151299" lon="-79.4493" stopId="5344"/>
<stop tag="1489" title="Lawrence Avenue West At Corona Street Farside" lat="43.7144299" lon="-79.45251" stopId="5354"/>
<stop tag="5733" title="Lawrence Avenue West At Dufferin Street" lat="43.71422" lon="-79.4543799" stopId="5361"/>
<stop tag="8765" title="Lawrence Avenue West At Apex Road" lat="43.7134199" lon="-79.4584" stopId="5334"/>
<stop tag="6925" title="Lawrence Avenue West At Dufflaw Road" lat="43.7128899" lon="-79.46075" stopId="5364"/>
<stop tag="4030" title="Lawrence Avenue West At Sage Avenue" lat="43.71238" lon="-79.4630599" stopId="5404"/>
<stop tag="7121" title="Lawrence Avenue West At Caledonia Road Farside" lat="43.71146" lon="-79.4671799" stopId="5351"/>
<stop tag="8467" title="Lawrence Avenue West At Benton Road" lat="43.7105399" lon="-79.47137" stopId="5341"/>
<stop tag="1344" title="Lawrence Avenue West At Duval Drive" lat="43.7098399" lon="-79.47443" stopId="5367"/>
<stop tag="8990" title="Lawrence Avenue West At Keele Street" lat="43.7090199" lon="-79.47764" stopId="5382"/>
<stop tag="2742" title="Lawrence Avenue West At Pimlico Road Farside" lat="43.7075599" lon="-79.48273" stopId="5393"/>
<stop tag="449" title="Lawrence Avenue West At Culford Road" lat="43.70649" lon="-79.4875299" stopId="5357"/>
<stop tag="9548" title="Lawrence Avenue West At Demarco Boulevard Farside" lat="43.70583" lon="-79.4906299" stopId="5358"/>
<stop tag="9872" title="Lawrence Avenue West At Brookhaven Drive Farside" lat="43.7043399" lon="-79.49717" stopId="5345"/>
<stop tag="5047" title="Lawrence Avenue West At Blackstone Street" lat="43.70374" lon="-79.4999199" stopId="5342"/>
<stop tag="4523" title="Lawrence Avenue West At Jane Street" lat="43.70302" lon="-79.5034399" stopId="5379"/>
<stop tag="8066" title="Lawrence Avenue West At Pine Street" lat="43.7020999" lon="-79.50813" stopId="5396"/>
<stop tag="9512" title="Lawrence Avenue West At Ralph Street Farside" lat="43.70106" lon="-79.5125999" stopId="5398"/>
<stop tag="453" title="Lawrence Avenue West At Weston Road" lat="43.7002599" lon="-79.51604" stopId="5415"/>
<stop tag="547" title="South Station Street At John Street Farside" lat="43.70136" lon="-79.51672" stopId="5125"/>
<stop tag="548_ar" title="John Street At Weston Road" lat="43.7005299" lon="-79.51543"/>
<direction tag="352_1_352" title="West - 352 Lawrence West Blue Night towards Weston Rd" name="West" useForUI="true">
  <stop tag="9034" />
  <stop tag="9906" />
  <stop tag="10103" />
  <stop tag="9278" />
  <stop tag="9327" />
  <stop tag="4877" />
  <stop tag="6081" />
  <stop tag="9417" />
  <stop tag="4078" />
  <stop tag="6101" />
  <stop tag="7952" />
  <stop tag="8638" />
  <stop tag="452" />
  <stop tag="7926" />
  <stop tag="960" />
  <stop tag="1492" />
  <stop tag="6966" />
  <stop tag="1489" />
  <stop tag="5733" />
  <stop tag="8765" />
  <stop tag="6925" />
  <stop tag="4030" />
  <stop tag="7121" />
  <stop tag="8467" />
  <stop tag="1344" />
  <stop tag="8990" />
  <stop tag="2742" />
  <stop tag="449" />
  <stop tag="9548" />
  <stop tag="9872" />
  <stop tag="5047" />
  <stop tag="4523" />
  <stop tag="8066" />
  <stop tag="9512" />
  <stop tag="453" />
  <stop tag="547" />
  <stop tag="548_ar" />
</direction>
<direction tag="352_0_352" title="East - 352 Lawrence West Blue Night towards Lawrence Station" name="East" useForUI="true">
  <stop tag="548" />
  <stop tag="4350" />
  <stop tag="10388" />
  <stop tag="6244" />
  <stop tag="7313" />
  <stop tag="6273" />
  <stop tag="9363" />
  <stop tag="8583" />
  <stop tag="6160" />
  <stop tag="5332" />
  <stop tag="5621" />
  <stop tag="7681" />
  <stop tag="3948" />
  <stop tag="3280" />
  <stop tag="5277" />
  <stop tag="1443" />
  <stop tag="6485" />
  <stop tag="4572" />
  <stop tag="4829" />
  <stop tag="1125" />
  <stop tag="6770" />
  <stop tag="6123" />
  <stop tag="6143" />
  <stop tag="8778" />
  <stop tag="4794" />
  <stop tag="3328" />
  <stop tag="6133" />
  <stop tag="3194" />
  <stop tag="8940" />
  <stop tag="10298" />
  <stop tag="4672" />
  <stop tag="1199" />
  <stop tag="6303" />
  <stop tag="6661" />
  <stop tag="9325" />
</direction>
<path>
<point lat="43.7143299" lon="-79.45198"/>
<point lat="43.71486" lon="-79.44954"/>
<point lat="43.71521" lon="-79.4484"/>
<point lat="43.71545" lon="-79.44677"/>
<point lat="43.7157" lon="-79.44606"/>
<point lat="43.71593" lon="-79.44497"/>
<point lat="43.71604" lon="-79.44445"/>
<point lat="43.71609" lon="-79.4442399"/>
<point lat="43.71605" lon="-79.44409"/>
</path>
<path>
<point lat="43.70348" lon="-79.5001599"/>
<point lat="43.70424" lon="-79.4967999"/>
<point lat="43.70511" lon="-79.49344"/>
<point lat="43.70545" lon="-79.49127"/>
<point lat="43.70633" lon="-79.48734"/>
<point lat="43.7073899" lon="-79.48254"/>
<point lat="43.70831" lon="-79.47903"/>
<point lat="43.70856" lon="-79.4783099"/>
<point lat="43.70877" lon="-79.47789"/>
<point lat="43.70884" lon="-79.4774"/>
<point lat="43.70908" lon="-79.47713"/>
<point lat="43.70926" lon="-79.4766"/>
<point lat="43.70947" lon="-79.47574"/>
<point lat="43.70959" lon="-79.47471"/>
<point lat="43.71016" lon="-79.47203"/>
<point lat="43.71146" lon="-79.4661"/>
<point lat="43.71212" lon="-79.46329"/>
<point lat="43.71263" lon="-79.46095"/>
<point lat="43.71315" lon="-79.45863"/>
<point lat="43.71391" lon="-79.455"/>
<point lat="43.71408" lon="-79.45474"/>
<point lat="43.71423" lon="-79.45312"/>
<point lat="43.7143299" lon="-79.45198"/>
</path>
<path>
<point lat="43.71605" lon="-79.44439"/>
<point lat="43.71604" lon="-79.44445"/>
<point lat="43.71593" lon="-79.44497"/>
<point lat="43.7157" lon="-79.44606"/>
<point lat="43.71559" lon="-79.44709"/>
<point lat="43.71513" lon="-79.4492999"/>
<point lat="43.71432" lon="-79.45242"/>
<point lat="43.71443" lon="-79.45251"/>
<point lat="43.71422" lon="-79.45438"/>
<point lat="43.7141" lon="-79.45448"/>
<point lat="43.71394" lon="-79.45553"/>
<point lat="43.71342" lon="-79.4584"/>
</path>
<path>
<point lat="43.71923" lon="-79.43057"/>
<point lat="43.71859" lon="-79.4328"/>
<point lat="43.71817" lon="-79.43496"/>
<point lat="43.71754" lon="-79.43793"/>
<point lat="43.7168599" lon="-79.44103"/>
<point lat="43.71628" lon="-79.44333"/>
<point lat="43.71619" lon="-79.44376"/>
<point lat="43.71614" lon="-79.44401"/>
<point lat="43.71609" lon="-79.4442399"/>
<point lat="43.71605" lon="-79.44439"/>
</path>
<path>
<point lat="43.71605" lon="-79.44409"/>
<point lat="43.71614" lon="-79.44401"/>
<point lat="43.71619" lon="-79.44376"/>
<point lat="43.71628" lon="-79.44333"/>
<point lat="43.71667" lon="-79.44103"/>
<point lat="43.71731" lon="-79.4380599"/>
<point lat="43.7179" lon="-79.43529"/>
<point lat="43.71838" lon="-79.43315"/>
<point lat="43.71905" lon="-79.4301799"/>
<point lat="43.7198" lon="-79.42689"/>
</path>
<path>
<point lat="43.7021" lon="-79.50813"/>
<point lat="43.70106" lon="-79.5126"/>
<point lat="43.70026" lon="-79.51604"/>
<point lat="43.70015" lon="-79.51619"/>
<point lat="43.70059" lon="-79.51778"/>
<point lat="43.70164" lon="-79.51721"/>
<point lat="43.70136" lon="-79.51672"/>
<point lat="43.70087" lon="-79.5156"/>
<point lat="43.70067" lon="-79.51544"/>
<point lat="43.70053" lon="-79.51543"/>
</path>
<path>
<point lat="43.71342" lon="-79.4584"/>
<point lat="43.71289" lon="-79.46075"/>
<point lat="43.71238" lon="-79.46306"/>
<point lat="43.71146" lon="-79.46718"/>
<point lat="43.71054" lon="-79.4713699"/>
<point lat="43.70984" lon="-79.47443"/>
<point lat="43.70947" lon="-79.47574"/>
<point lat="43.70939" lon="-79.47604"/>
<point lat="43.70933" lon="-79.47635"/>
<point lat="43.70918" lon="-79.47688"/>
<point lat="43.70902" lon="-79.4776399"/>
<point lat="43.70877" lon="-79.47789"/>
<point lat="43.70856" lon="-79.4783099"/>
<point lat="43.70831" lon="-79.47903"/>
<point lat="43.70756" lon="-79.48273"/>
<point lat="43.70649" lon="-79.48753"/>
<point lat="43.70583" lon="-79.49063"/>
<point lat="43.70511" lon="-79.49344"/>
<point lat="43.70434" lon="-79.49717"/>
<point lat="43.70374" lon="-79.49992"/>
<point lat="43.70303" lon="-79.5027"/>
<point lat="43.70302" lon="-79.50344"/>
<point lat="43.70287" lon="-79.5038299"/>
<point lat="43.70278" lon="-79.50487"/>
<point lat="43.7021" lon="-79.50813"/>
</path>
<path>
<point lat="43.70053" lon="-79.51543"/>
<point lat="43.70111" lon="-79.51172"/>
<point lat="43.70188" lon="-79.50841"/>
<point lat="43.70276" lon="-79.50498"/>
<point lat="43.70276" lon="-79.50422"/>
<point lat="43.70287" lon="-79.5038299"/>
<point lat="43.70303" lon="-79.5027"/>
<point lat="43.70348" lon="-79.5001599"/>
</path>
<path>
<point lat="43.72493" lon="-79.40342"/>
<point lat="43.72484" lon="-79.40356"/>
<point lat="43.7245" lon="-79.40548"/>
<point lat="43.72381" lon="-79.40861"/>
<point lat="43.72305" lon="-79.41239"/>
<point lat="43.72242" lon="-79.41524"/>
<point lat="43.72175" lon="-79.41835"/>
<point lat="43.72092" lon="-79.42232"/>
<point lat="43.72007" lon="-79.42632"/>
<point lat="43.71946" lon="-79.4293"/>
<point lat="43.71923" lon="-79.43057"/>
</path>
<path>
<point lat="43.7198" lon="-79.42689"/>
<point lat="43.7207" lon="-79.42262"/>
<point lat="43.72158" lon="-79.41851"/>
<point lat="43.72209" lon="-79.41584"/>
<point lat="43.72271" lon="-79.41323"/>
<point lat="43.7231" lon="-79.41139"/>
<point lat="43.7236199" lon="-79.40892"/>
<point lat="43.72426" lon="-79.40576"/>
<point lat="43.72484" lon="-79.40356"/>
<point lat="43.72476" lon="-79.40344"/>
</path>
</route>
</body>
